footer.footer
  .inner
    .container.clearfix
      nav.nav-ft
        +link('giới thiệu')
        +link('thông tin sản phẩm')
        +link('cách sử dụng')
        +link('tư vấn khách hàng')
        +link('đại lý')
      .social-ft
        +link('Facebook')
          i.icon-facebook
        +link('Skype')
          i.icon-skype
        +link('Youtube')
          i.icon-youtube-text
        +link('Twitter')
          i.icon-twitter
  .wrap
    .container
      h2 Công Ty Cổ Phần Sao Thái Dương
      p Văn phòng đại diện :
        span &nbsp;Số 130 Phố Vĩnh Hưng - P Vĩnh Hưng - Hoàng Mai - Hà Nội
      p Tel: 04.36444219 - Fax: 04.36444219
      p Hotline: #[a(href="tel:19001787") 19001787]
      p Email: #[a(href="mailto:hotro@thaiduong.com.vn") hotro@thaiduong.com.vn]


