ul.list-color-temp.clearfix
  +color('@color00', 'transparent')
  +color('@color01', '#fff')
  +color('@color02', '#f5f5f5')
  +color('@color03', '#999')
  +color('@color04', '#666')
  +color('@color05', '#292526')
  +color('@color06', '#19b486')
  +color('@color07', '#159972')
  +color('@color08', '#30bc92')
  +color('@color09', '#d85486')
  +color('@color10', '#b84772')
  +color('@color11', '#dc6592')
  +color('@color12', '#e9dddf')
  +color('@color13', '#c6bcbe')
  +color('@color14', '#ebe0e2')
  +color('@color15', '#333')
  +color('@color16', '#ddd')
  +color('@color17', '#ccc')
  +color('@color18', '#231f20')
  +color('@color19', '#de8aaa')
  +color('@color20', '#eee')
  +color('@color21', '#636363')
  +color('@color22', '#2f2a2b')
  +color('@color23', '#9d9d9d')
