+icons([
  'icon-cart-plus',
  'icon-shipping',
  'icon-return',
  'icon-lock',
  'icon-next',
  'icon-youtube',
  'icon-wishlist',
  'icon-twitter',
  'icon-arrow-down',
  'icon-search',
  'icon-pin',
  'icon-menu',
  'icon-email',
  'icon-mail-box',
  'icon-instagram',
  'icon-google',
  'icon-fb',
  'icon-warning',
  'icon-close',
  'icon-chart',
  'icon-cart',
  'icon-account',
  'icon-arrow-solid-down',
  'icon-star',
  'icon-home',
  'icon-check',
  'icon-phone',
  'icon-cancel-circle',
  'icon-star-empty',
  'icon-cancel',
  'icon-mail-empty',
  'icon-ok-circle',
  'icon-pregnancy',
  'icon-pregnancy-2',
  'icon-pregnancy-1',
  'icon-plus-circle',
  'icon-pencil',
  'icon-filter',
  'icon-caret-down',
  'icon-caret-up',
  'icon-caret-left',
  'icon-caret-right',
  'icon-mail-alt',
  'icon-level-up',
  'icon-ok-square',
  'icon-plus',
  'icon-minus',
  'icon-angle-left',
  'icon-angle-right',
  'icon-angle-up',
  'icon-angle-down'
])
