.best-sellers(data-collapse='{"effect": "fade"}')
	.nav-tab
		li(data-active)
			a(title="New Arrivals" href="tab1" data-handle="New Arrivals" data-init)
				i.icon-stats-bars
				span New Arrivals
		li(data-active)
			a(title="Specials" href="tab2" data-handle="Specials")
				i.icon-stats-bars
				span Specials
		li(data-active)
			a(title="Clearance" href="tab3" data-handle="Clearance")
				i.icon-stats-bars
				span Clearance
	.tab-content
		.tab-pane(data-content="New Arrivals")
			.container
				.product-grid
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price
								span.new-price.red $799
								span.old-price normally $100
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price $1399
								span.old-price normally $799
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price.red $1399
								span.old-price normally $799
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price.red $799
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price $1399
								span.old-price normally $799
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price.red $1399
								span.old-price normally $799
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
		.tab-pane(data-content="Specials")
			.container
				.product-grid
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
		.tab-pane(data-content="Clearance")
			.container
				.product-grid
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price 
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
					.item
						.product-item
							.img-tmb
								a(href="product-details.html", title="Title")
									img(src="images/upload/product-1.jpg", alt="Title")
								span.sale Sale
							h2
								+link('Akai MPK249 49 Key USB MIDI Keyboard Controller', 'product-details.html')
							.price
								span.new-price $1399
								span.old-price normally $799
								span.save-price
									i.icon-tag
									| save 20%
							.group-inner.clearfix
								+link('Shop all brands ', 'href').button.radius.btn-primary
									span add to cart
									i.icon-shopping-cart
								.pull-right
									+link('Wishlist ', 'href').product-wishlist
										span.relative
											i.icon-heart-outline
											span.tooltip Add wishlist list
									+link('Compare ', 'href').product-compare
										span.relative
											i.icon-compare
											span.tooltip Compare
