.brands-block
	.container
		h2.title-main Shop Over 100 Brands
		.slider.list-brands(data-cslider='{"type": "brands", "initUnder": 991}')
			.slick
				.item
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_1.jpg", alt="Title")
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_2.jpg", alt="Title")
				.item
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_3.jpg", alt="Title")
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_4.jpg", alt="Title")
				.item
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_5.jpg", alt="Title")
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_6.jpg", alt="Title")
				.item
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_7.jpg", alt="Title")
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_8.jpg", alt="Title")
				.item
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_9.jpg", alt="Title")
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_10.jpg", alt="Title")
				.item
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_11.jpg", alt="Title")
					+link('Title', '')(target='_blank')
						span: img(src="images/upload/brand_12.png", alt="Title")
			span.load
			+link('Shop all brands ', 'href').button.radius.btn-primary
				span Shop all brands
				i.icon-arrow-right