.category-boxes-block
	.container
		.list-boxes
			.item
				.tmb-img
					+link('Title', 'products-listing.html')(target='_blank')
						img(src="images/upload/cate_1.jpg", alt="Title")
				.caption
					h2 Live Sound & PA
					+link('Shop now', 'products-listing.html')(target='_blank').shop-now
						span Shop Now
						i.icon-arrow-right
					.icon
						i.icon-settings
			.item
				.tmb-img
					+link('Title', 'products-listing.html')(target='_blank')
						img(src="images/upload/cate_2.jpg", alt="Title")
				.caption
					h2 Studio Gear
					+link('Shop now', 'products-listing.html')(target='_blank').shop-now
						span Shop Now
						i.icon-arrow-right
					.icon
						i.icon-calculator
			.item
				.tmb-img
					+link('Title', 'products-listing.html')(target='_blank')
						img(src="images/upload/cate_3.jpg", alt="Title")
				.caption
					h2 Headphones
					+link('Shop now', 'products-listing.html')(target='_blank').shop-now
						span Shop Now
						i.icon-arrow-right
					.icon
						i.icon-headphone
			.item
				.tmb-img
					+link('Title', 'products-listing.html')(target='_blank')
						img(src="images/upload/cate_4.jpg", alt="Title")
				.caption.red
					h2 Sale
					+link('Shop now', 'products-listing.html')(target='_blank').shop-now
						span Shop Now
						i.icon-arrow-right
					.icon
						i.icon-usd
			.item
				.tmb-img
					+link('Title', 'products-listing.html')(target='_blank')
						img(src="images/upload/cate_5.jpg", alt="Title")
				.caption
					h2 Microphones
					+link('Shop now', 'products-listing.html')(target='_blank').shop-now
						span Shop Now
						i.icon-arrow-right
					.icon
						i.icon-mic
			.item
				.tmb-img
					+link('Title', 'products-listing.html')(target='_blank')
						img(src="images/upload/cate_6.jpg", alt="Title")
				.caption.blue
					h2 Headphones
					+link('Shop now', 'products-listing.html')(target='_blank').shop-now
						span Shop Now
						i.icon-arrow-right
					.icon
						i.icon-chart