.product-relative-block
	.container
		h2.heading
			i.icon-stats-bars
			span Related Items
		.product-grid
			.item
				.product-item
					.img-tmb
						a(href="#", title="Title")
							img(src="images/upload/product-1.jpg", alt="Title")
						span.sale Sale
					h2
						+link('Akai MPK249 49 Key USB MIDI Keyboard Controller')
					.price 
						span.new-price.red $799
						span.old-price
							span normally 
							| $799
						span.save-price
							i.icon-tag
							| save 20%
					.group-inner.clearfix
						+link('Shop all brands ', 'href').button.radius.btn-primary
							span add to cart
							i.icon-shopping-cart
						.pull-right
							+link('Wishlist ', 'href').product-wishlist.active
								span.relative
									i.icon-heart-outline
									span.tooltip Add wishlist list
							+link('Compare ', 'href').product-compare.active
								span.relative
									i.icon-compare
									span.tooltip Compare
			.item
				.product-item
					.img-tmb
						a(href="#", title="Title")
							img(src="images/upload/product-1.jpg", alt="Title")
					h2
						+link('Akai MPK249 49 Key USB MIDI Keyboard Controller')
					.price 
						span.new-price.red $799
						span.old-price
							span lly 
							| $799
					.group-inner.clearfix
						+link('Shop all brands ', 'href').button.radius.btn-primary
							span add to cart
							i.icon-shopping-cart
						.pull-right
							+link('Wishlist ', 'href').product-wishlist.active
								span.relative
									i.icon-heart-outline
									span.tooltip Add wishlist list
							+link('Compare ', 'href').product-compare.active
								span.relative
									i.icon-compare
									span.tooltip Compare
			.item
				.product-item
					.img-tmb
						a(href="#", title="Title")
							img(src="images/upload/product-1.jpg", alt="Title")
						span.sale Sale
					h2
						+link('Akai MPK249 49 Key USB MIDI Keyboard Controller')
					.price 
						span.new-price.red $799
						span.old-price
							span normally 
							| $799
						span.save-price
							i.icon-tag
							| save 20%
					.group-inner.clearfix
						+link('Shop all brands ', 'href').button.radius.btn-primary
							span add to cart
							i.icon-shopping-cart
						.pull-right
							+link('Wishlist ', 'href').product-wishlist.active
								span.relative
									i.icon-heart-outline
									span.tooltip Add wishlist list
							+link('Compare ', 'href').product-compare.active
								span.relative
									i.icon-compare
									span.tooltip Compare
			.item
				.product-item
					.img-tmb
						a(href="#", title="Title")
							img(src="images/upload/product-1.jpg", alt="Title")
					h2
						+link('Akai MPK249 49 Key USB MIDI Keyboard Controller')
					.price 
						span.new-price.red $799
						span.old-price
							span lly 
							| $799
					.group-inner.clearfix
						+link('Shop all brands ', 'href').button.radius.btn-primary
							span add to cart
							i.icon-shopping-cart
						.pull-right
							+link('Wishlist ', 'href').product-wishlist.active
								span.relative
									i.icon-heart-outline
									span.tooltip Add wishlist list
							+link('Compare ', 'href').product-compare.active
								span.relative
									i.icon-compare
									span.tooltip Compare