.slider.slideshow-block(data-cslider='{"type": "single", "fade": true}')
	.slick
		.item
			.bgd-image
				img(src="images/upload/banner.jpg", alt="Title" class="hidden-md-down")
				img(src="images/upload/banner-mb.jpg", alt="Title" class="hidden-lg-up")
			.caption
				h2 Pro Audio + AV Equipment Specialists
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
				+link('Shop now', '')(target='_blank').shop-now
					span Shop Now
					i.icon-arrow-right
		.item
			.bgd-image
				img(src="images/upload/banner.jpg", alt="Title" class="hidden-md-down")
				img(src="images/upload/banner-mb.jpg", alt="Title" class="hidden-lg-up")
			.caption
				h2 Pro Audio + AV Equipment Specialists
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
				+link('Shop now', '')(target='_blank').shop-now
					span Shop Now
					i.icon-arrow-right

