.testimonial-block(style="background-image: url(images/upload/bg-testimonial.jpg)")
	.container
		h2.title-main What Our Customers Have To Say
		.slider(data-cslider='{"type": "carousel"}')
			.slick
				.item
					.reviews 
						span.stars.stars-5
					h3 “Lorem ipsum dolor sit amet”
					p “Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...”
					a(href="", title="John Smith" class="user-link") John Smith
				.item
					.reviews 
						span.stars.stars-5
					h3 “Lorem ipsum dolor sit amet”
					p “Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...”
					a(href="", title="John Smith" class="user-link") John Smith
				.item
					.reviews 
						span.stars.stars-5
					h3 “Lorem ipsum dolor sit amet”
					p “Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...”
					a(href="", title="John Smith" class="user-link") John Smith
				.item
					.reviews 
						span.stars.stars-5
					h3 “Lorem ipsum dolor sit amet”
					p “Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...”
					a(href="", title="John Smith" class="user-link") John Smith
				.item
					.reviews 
						span.stars.stars-5
					h3 “Lorem ipsum dolor sit amet”
					p “Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...”
					a(href="", title="John Smith" class="user-link") Mary
			span.load