.trustmakers-block
	.container
		.trustmakers
			.item
				.icon
					img(src="images/icon-shipping.png", alt="Title")
				.content
					h4 Free Shipping
					span orders over $50
			.item.hidden-sm-down
				.icon
					img(src="images/icon-dispatch.png", alt="Title")
				.content
					h4 Same Day dispatch
					span for orders before 2:00PM
			.item.hidden-sm-down
				.icon
					img(src="images/icon-best-price.png", alt="Title")
				.content
					h4 for orders before 2:00PM
					span beat any advertised price
