// Post Navigation
.post-navigation
  .text-left
    .control Previous:
    +link('S.T.A.R. MATHS ONLINE A FINALIST IN CHAMPION OF THE WEST!')
  .text-right
    +link('S.T.A.R. MATHS ONLINE HELPING PRIMARY TEACHERS AND SCHOOLS!')
    .control Next
