// Related post
.related-post
  h2 Related posts
  .row
    .col-sm-4
      .thumb: +link()
        +img-upload('new-1.jpg', alt)
      +link('S.T.A.R. MATHS ONLINE HELPING PRIMARY TEACHERS AND SCHOOLS!', 'news-details.html')
    .col-sm-4
      .thumb: +link()
        +img-upload('new-2.jpg', alt)
      +link('S.T.A.R. MATHS ONLINE HELPING PRIMARY TEACHERS AND SCHOOLS!', 'news-details.html')
    .col-sm-4
      .thumb: +link()
        +img-upload('new-3.jpg', alt)
      +link('S.T.A.R. MATHS ONLINE HELPING PRIMARY TEACHERS AND SCHOOLS!', 'news-details.html')
