.slider.carousel-slider(data-cslider='{"type": "carousel", "dots": true, "arrows": false, "autoplay": true}')
	.slick
		.item
			+img-upload("school-1.jpg").img-view
		.item
			+img-upload("school-2.jpg").img-view
		.item
			+img-upload("school-3.jpg").img-view
		.item
			+img-upload("school-4.jpg").img-view
		.item
			+img-upload("school-5.jpg").img-view
		.item
			+img-upload("school-6.jpg").img-view
		.item
			+img-upload("school-1.jpg").img-view
		.item
			+img-upload("school-2.jpg").img-view
	span.load