.block-post
	.article
		.thumb
			+link()
				+img-upload('img-1.jpg')
			.date
				span 12
				span 07-2016
		.content
			.heading
				h2.title
					+link('3 loại mặt nạ dưỡng da siêu hiệu quả, giúp da bạn tỏa sáng suốt mùa hè')
			.post-meta
				.meta-date
					span 24 - 11 - 2016
				.meta-cmt
					+link('0 comment').link-cmt
			.post-desc
				p Mùa đông, thời tiết lạnh giá sẽ làm cho nhiều loại vi khuẩn phát triển và gây bệnh, đặc biệt là virus gây cảm cúm, thậm chí virus này có thể gây thành dịch bệnh. Để giúp mọi người có được sức khỏe tốt và tránh được các mầm mống gây bệnh
			.view-all
				+link('Xem chi tiết').button.btn-primary
	.article
		.thumb
			+link()
				+img-upload('img-2.jpg')
			.date
				span 12
				span 07-2016
		.content
			.heading
				h2.title
					+link('3 loại mặt nạ dưỡng da siêu hiệu quả, giúp da bạn tỏa sáng suốt mùa hè')
			.post-meta
				.meta-date
					span 24 - 11 - 2016
				.meta-cmt
					+link('0 comment').link-cmt
			.post-desc
				p Mùa đông, thời tiết lạnh giá sẽ làm cho nhiều loại vi khuẩn phát triển và gây bệnh, đặc biệt là virus gây cảm cúm, thậm chí virus này có thể gây thành dịch bệnh. Để giúp mọi người có được sức khỏe tốt và tránh được các mầm mống gây bệnh
			.view-all
				+link('Xem chi tiết').button.btn-primary
	.article
		.thumb
			+link()
				+img-upload('img-3.jpg')
			.date
				span 12
				span 07-2016
		.content
			.heading
				h2.title
					+link('3 loại mặt nạ dưỡng da siêu hiệu quả, giúp da bạn tỏa sáng suốt mùa hè')
			.post-meta
				.meta-date
					span 24 - 11 - 2016
				.meta-cmt
					+link('0 comment').link-cmt
			.post-desc
				p Mùa đông, thời tiết lạnh giá sẽ làm cho nhiều loại vi khuẩn phát triển và gây bệnh, đặc biệt là virus gây cảm cúm, thậm chí virus này có thể gây thành dịch bệnh. Để giúp mọi người có được sức khỏe tốt và tránh được các mầm mống gây bệnh
			.view-all
				+link('Xem chi tiết').button.btn-primary



