.featured-news
	h2.heading
		i.ion-ios-star
		|Tin tức nổi bật
	ul.news
		li
			.thumb
				+link('')
					+img-upload('img-4.jpg')
			.content
				h3.title
					+link('Mặt nạ thiên nhiên chăm sóc da')
				p Sử dụng mặt nạ dưỡng da luôn là xu hướng chăm sóc da được rất nhiều bạn trẻ quan tâm vào mùa hè. Các loại mặt nạ tự nhiên không chỉ giúp bạn dưỡng da mà còn ...
		li
			.thumb
				+link('')
					+img-upload('img-5.jpg')
			.content
				h3.title
					+link('Mặt nạ thiên nhiên chăm sóc da')
				p Sử dụng mặt nạ dưỡng da luôn là xu hướng chăm sóc da được rất nhiều bạn trẻ quan tâm vào mùa hè. Các loại mặt nạ tự nhiên không chỉ giúp bạn dưỡng da mà còn ...
		li
			.thumb
				+link('')
					+img-upload('img-4.jpg')
			.content
				h3.title
					+link('Mặt nạ thiên nhiên chăm sóc da')
				p Sử dụng mặt nạ dưỡng da luôn là xu hướng chăm sóc da được rất nhiều bạn trẻ quan tâm vào mùa hè. Các loại mặt nạ tự nhiên không chỉ giúp bạn dưỡng da mà còn ...
		li
			.thumb
				+link('')
					+img-upload('img-5.jpg')
			.content
				h3.title
					+link('Mặt nạ thiên nhiên chăm sóc da')
				p Sử dụng mặt nạ dưỡng da luôn là xu hướng chăm sóc da được rất nhiều bạn trẻ quan tâm vào mùa hè. Các loại mặt nạ tự nhiên không chỉ giúp bạn dưỡng da mà còn ...
		li
			.thumb
				+link('')
					+img-upload('img-4.jpg')
			.content
				h3.title
					+link('Mặt nạ thiên nhiên chăm sóc da')
				p Sử dụng mặt nạ dưỡng da luôn là xu hướng chăm sóc da được rất nhiều bạn trẻ quan tâm vào mùa hè. Các loại mặt nạ tự nhiên không chỉ giúp bạn dưỡng da mà còn ...
		li
			.thumb
				+link('')
					+img-upload('img-5.jpg')
			.content
				h3.title
					+link('Mặt nạ thiên nhiên chăm sóc da')
				p Sử dụng mặt nạ dưỡng da luôn là xu hướng chăm sóc da được rất nhiều bạn trẻ quan tâm vào mùa hè. Các loại mặt nạ tự nhiên không chỉ giúp bạn dưỡng da mà còn ...
		li
			.thumb
				+link('')
					+img-upload('img-4.jpg')
			.content
				h3.title
					+link('Mặt nạ thiên nhiên chăm sóc da')
				p Sử dụng mặt nạ dưỡng da luôn là xu hướng chăm sóc da được rất nhiều bạn trẻ quan tâm vào mùa hè. Các loại mặt nạ tự nhiên không chỉ giúp bạn dưỡng da mà còn ...
		li
			.thumb
				+link('')
					+img-upload('img-5.jpg')
			.content
				h3.title
					+link('Mặt nạ thiên nhiên chăm sóc da')
				p Sử dụng mặt nạ dưỡng da luôn là xu hướng chăm sóc da được rất nhiều bạn trẻ quan tâm vào mùa hè. Các loại mặt nạ tự nhiên không chỉ giúp bạn dưỡng da mà còn ...
