header.header.checkout-header
  .grid
    +link('Lala Shop', 'index.html').logo
      +img('Lala Shop', 'logo.png')
    +link('(08) 6687.3579', 'tel:+0866873579').phone-number
      i.icon-phone
      | (08) 6687.3579
