extends ../layouts/layout

block vars
  -title = 'Detail'
  -bodyClass = 'details-page'
  -mainNav = 2

block main
  main
    include ../modules/banner
    include ../modules/details
    include ../modules/how-to-use
    include ../modules/effective-solution
    include ../modules/usage
    include ../modules/contactForm
