- var activeHamburger = ''
if activeHam
  - activeHamburger = 'active-mobile-menu'
header.header(class=activeHamburger)
  .container
    i.ion-navicon.hidden-md-up
    h1.logo-wrap
      +link('Thái Dương', 'index.html')
        +img('logo.png')
    nav.main-nav
      ul.navigation
        +items([
          {title: 'Trang chủ', href: 'index.html'},
          {title: 'Giới thiệu', href: '#!'},
          {title: 'Sản phẩm', href: '#!'},
          {title: 'Tin tức', href: '#!'},
          {title: 'Cảm nhận', href: '#!'},
          {title: 'Liên hệ', href: '#!'}
        ], mainNav)
    // added class open-search into class search-block
    .search-block
      +customInput({id: 'search_btn_1', type: 'button', iconClass: 'ion-ios-search-strong'}, {id: "txt_search_1"})
