extends ../layouts/layout

block vars
  -title = 'Details'
  -bodyClass = 'detail-page'
  -mainNav = 1

block main
  main
    +hero('banner-2.jpg', 'banner-4.jpg')
    include ../modules/breakcrumb
    include ../modules/detail
