section.detail-block
  .container
    h1.heading-1.text-underline #[i(class="ion-star")] #[span Thành phần]
    .content
      .thumbnail
        +img-upload('img-1.png')
      ul.ingredients
        +ingredient('banner-mobile.jpg', 'Thiên hoa phấn')
        +ingredient('img-1.png', 'Thiên hoa phấn')
        +ingredient('img-1.png', 'Thiên hoa phấn')
        +ingredient('img-1.png', 'Thiên hoa phấn')
        +ingredient('img-1.png', 'Thiên hoa phấn')
        +ingredient('img-1.png', 'Thiên hoa phấn')
        +ingredient('img-1.png', 'Thiên hoa phấn')
        +ingredient('img-1.png', 'Thiên hoa phấn')
  .line-pink
    +img('line-pink.png')
