section.effective-solution-block
	.container
		.inner(style="background-image: url(images/upload/bgd-1.jpg)")
			.content
				h3 VINAHO - Giải Pháp Hiệu Quả Cho Bệnh Ho Từ Thiên Nhiên
				p Thời tiết thay đổi trong những khoảng giao mùa là thời điểm bùng phát nhiều dịch bệnh đặc biệt là bệnh ho. Ho về mặt cơ chế là một phản xạ tự vệ của niêm mạc đường hô hấp bị kích ứng vì sự hiện diện của các yếu tố: Khói bụi, độc tố, hóa chất, vi khuẩn, virus… Khi phế quản co thắt, khiến người bệnh phải ho nhằm tìm cách tống khứ chúng ra khỏi đường hô hấp
				p: +link('Xem đầy đủ').button.larger.btn-primary.radius
			.thumb
				.wrap
					.video-wrap.relative
						span.icon-play: i.ion-arrow-right-b
						.video-container
							video
								source(src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4")
							.thumbnail(style="background-image: url(images/upload/img-8.jpg)")
