section.faculty-block(style="background-image: url(images/upload/img-4.jpg)")
  .container
    .content
      h1.heading-1 Công dụng
      ul
        li Bổ huyết, chống oxy hóa #[i.ion-ios-star]
        li Giúp hồng da, chống nắm, căng mịn da, ngăn tàn nhang #[i.ion-ios-star]
        li Ngăn ngừa dụng tóc, bạc tóc #[i.ion-ios-star]
        li Kích thích mọc tóc #[i.ion-ios-star]
        li Giúp tóc mềm mượt - chắc khỏe #[i.ion-ios-star]
      span.producer -- Tập đoàn Sao Thái Dương --
    .circle-box
      +img-upload('img-9.png')
