section.functional-foods-block
	.container
		h2.heading-2 Thực phẩm chức năng Valentine
		.content
			p Công ty cổ phần Sao Thái Dương trân trọng giới thiệu giải pháp toàn diện cho bệnh nam khoa với các sản phẩm Viên uống ROCKET truyền thống, kết hợp 33 vị thảo dược quý, giúp bồi bổ ngũ tạng. Vì theo Đông y, thận là cơ quan chủ về sinh dục, ngoài bồi bổ thận cần phải bồi bổ chức năng
			ul.list-styled
				li: #[i.ion-android-done] Hỗ trợ điều trị xuất tinh sớm, thời gian sinh hoạt tình dục ngắn.
				li: #[i.ion-android-done] Giúp tăng tiết hormon nam giới Testosteron một cách tự nhiên.
				li: #[i.ion-android-done] Hỗ trợ điều trị quá trình mãn dục ở nam giới: Người hay mệt mỏi, đau lưng, mỏi gối.
				li: #[i.ion-android-done] Hỗ trợ điều trị rối loạn cương dương, dương vật không đạt được độ cương cứng cần thiết, liệt dương.
		.thumb
			+img-upload('img-7.png')
