section.how-to-use(style="background-image: url(images/upload/bg-1.jpg)")
  .container
    h2.heading-2.text-center Thực phẩm chức năng Valentine
    .group.group-1
      h3.heading-3 Đối tượng sử dụng
      p.desc Dùng cho người da đen xạm, nám, tàn nhang, da khô, nứt nẻ, tóc dụng, tóc bạc sớm, chẻ ngọn, viêm nang tóc, nang lông
    .group.text-right.group-2
      .thumb
        +img-upload('img-3.png')
      .wrap
        h4.heading-4 Ngày uống 1 viên - Sau ăn khoảng 2 giờ
        p.desc Hỗ trợ điều trị: Ngày uống 1 - 2 viên. Đợt dùng 1 - 3 tháng liên tục #[br] Duy trì tác dụng: Ngày uống 1 viên
