section.review-block
  .container
    .heading.text-center
      h2.heading-4 Cảm nhận về “Viên uống valentine”
      .divider
        span
          i.ion-ios-star
          i.ion-ios-star
          i.ion-ios-star
    .wrap.clearfix(style="background-image: url(images/upload/bgd-2.jpg);")
      .thumb
        span(style="background-image: url(images/upload/img-8.jpg)")
          span.name Á hậu Thuỵ Vân
          +img-upload('img-8.jpg').hidden-md-up
      .content
        blockquote
          p Tôi ko biết tả như thế nào nhưng tôi cảm thấy dường như ngực mình nở thêm ra mỗi khi xuất hiện hiện tượng tê tê như xuống sữa Tôi rất hài lòng với tác dụng của big 1. Xin cảm ơn công ty và mong công ty tư vấn giải thích thắc mắc cho tôi để tôi tiếp tục an tâm dùng nốt liệu trình 3 tháng.
          br
          p Tôi rất hà lòng với bộ sản phẩm Tây Thi của tập đoàn Sao Thái Dương
    .customer.text-center
      p.desc Ngoài ra còn hàng triệu khách hàng khác tin dùng sản phẩm “Viên uống Tây Thi”
      ul.ingredients.list-customer
        +ingredient('banner-mobile.jpg', 'Á hậu tú anh')
        +ingredient('img-1.png', 'Huyền my')
        +ingredient('img-1.png', 'Á hậu tú anh')
        +ingredient('img-1.png', 'Huyền my')
        +ingredient('img-1.png', 'Á hậu tú anh')


