section.usage-block
	.container
		.usage
			h2.heading-4: span Vinaho
			.content
				p: #[i.ion-ios-star] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eligendi, eum ex, ipsa cumque similique iste libero quisquam, earum quia praesentium velit amet molestias quo voluptatem accusantium ducimus quam veritatis unde, odio nisi dolorum at nulla. Temporibus eaque ut sit nobis incidunt, consequuntur iure doloremque accusantium eum laudantium, quasi repudiandae.
				p: #[i.ion-ios-star] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis eligendi, eum ex, ipsa cumque similique iste libero quisquam, earum quia praesentium velit amet molestias quo voluptatem accusantium ducimus quam veritatis unde, odio nisi dolorum at nulla. Temporibus eaque ut sit nobis incidunt, consequuntur iure doloremque accusantium eum laudantium, quasi repudiandae.
			.thumb
				+img-upload('img-7.png')


