.grid
  +heading('Tin tức')
  .row.new-list
    .col-sm-6
      .row.item
        .col-md-4.col-sm-4.col-xs-4
          .thumbnail
            +link('Đại dương 3D').tmb-img
              +img-upload('photo_127','photo_127.jpg')
            span.day 16
            span.month
              strong Tháng 3
              | 2015
        .col-md-7.col-sm-8.col-xs-8.content
          h2.title: +link('Tráng miệng với món thạch cam dẻo mát')
          p Cam là loại quả nhiều vitamin, có khả năng tăng sức đề kháng, nâng cao hệ miễn dịch
    .col-sm-6
      .row.item
        .col-md-4.col-sm-4.col-xs-4
          .thumbnail
            +link('Đại dương 3D').tmb-img
              +img-upload('photo_129','photo_129.jpg')
            span.day 16
            span.month
              strong Tháng 3
              | 2015
        .col-md-7.col-sm-8.col-xs-8.content
          h2.title: +link('Tráng miệng với món thạch cam dẻo mát')
          p Cam là loại quả nhiều vitamin, có khả năng tăng sức đề kháng, nâng cao hệ miễn dịch

