.grid
  .content
    .col.nav-box
      h3.title
        a(href='#', title='Decal dán tường') Decal dán tường
          i.icon-next
      ul.nav-list
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
        li: +link('Decal dán chân tường')
      +link('Xem tất cả').view-all
    .col.recommend-box
      +link('Đại dương 3D').tmb-img
        +img-upload('image_01','photo_01.jpg')
        span.caption Decal dán tường về <br/>bảng chữ
    .col.product-list
      +link('#').item
        .tmb-img
          +img-upload('image-33','photo_33.jpg')
        .info
          .title
            span Đại dương 3D
            span Hàng mới
      +link('#').item
        .tmb-img
          +img-upload('image-35','photo_35.jpg')
        .info
          .title
            span Đại dương 3D
            span Hàng mới
      +link('#').item
        .tmb-img
          +img-upload('image-82','photo_82.jpg')
        .info
          .title
            span Đại dương 3D
            span Hàng mới
      +link('#').item
        .tmb-img
          +img-upload('image-84','photo_84.jpg')
        .info
          .title
            span Đại dương 3D
            span Hàng mới
      +link('#').item
        .tmb-img
          +img-upload('image-95','photo_33.jpg')
        .info
          .title
            span Đại dương 3D
            span Hàng mới
      +link('#').item
        .tmb-img
          +img-upload('image-102','photo_102.jpg')
        .info
          .title
            span Đại dương 3D
            span Hàng mới
