.grid
  +heading('Sản phẩm nổi bật')
  .content
    .col.recommend-box
      +link('Đại dương 3D').tmb-img
        +img-upload('image_01','photo_01.jpg')
        span.caption Khuyến mãi shock
    .col.product-list
      +link('#').item
        .tmb-img
          +img-upload('image-22','photo_22.jpg')
          span.discount -50%
        .info
          div.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          .title
            span Đại dương 3D
      +link('#').item
        .tmb-img
          +img-upload('image-23','photo_23.jpg')
        .info
          div.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          .title
            span.text Đại dương 3D
      +link('#').item
        .tmb-img
          +img-upload('image-11','photo_11.jpg')
        .info
          div.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          .title
            span Đại dương 3D
      +link('#').item
        .tmb-img
          +img-upload('image-20','photo_20.jpg')
        .info
          div.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          .title
            span Đại dương 3D
      +link('#').item
        .tmb-img
          +img-upload('image-08','photo_21.jpg')
        .info
          div.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          .title
            span Đại dương 3D
      +link('#').item
        .tmb-img
          +img-upload('image-06','photo_06.jpg')
        .info
          div.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          .title
            span Đại dương 3D
      +link('#').item
        .tmb-img
          +img-upload('image-14','photo_14.jpg')
        .info
          div.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          .title
            span Đại dương 3D
      +link('#').item
        .tmb-img
          +img-upload('image-20','photo_20.jpg')
        .info
          div.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          .title
            span Đại dương 3D
