.grid
	.row.service-list
		.col-md-6
			.row
				.col-sm-6
					.item
						span.thumb
							+img('photo-1','img-1.png')
						span.text Giao hàng miễn phí cho DDH từ 300km tại nội thành HCM
				.col-sm-6
					.item
						span.thumb
							+img('photo-2','img-2.png')
						span.text Giao hàng miễn phí cho DDH từ 300km tại nội thành HCM
		.col-md-6
			.row
				.col-sm-6
					.item
						span.thumb
							+img('photo-3','img-3.png')
						span.text Giao hàng miễn phí cho DDH từ 300km tại nội thành HCM
				.col-sm-6
					.item
						span.thumb
							+img('photo-4','img-4.png')
						span.text Giao hàng miễn phí cho DDH từ 300km tại nội thành HCM
