section.category-block
  .container
    ul.list-categories
      li.wow.fadeInRight.animated(data-wow-duration="1s")
        .thumb
          +link()
            +img-upload('img-3.jpg', 'alt')
        .content
          h3: +link('TRẺ EM BỊ TIỂU ĐƯỜNG LỚN LÊN SẼ KHỎI CÓ ĐÚNG KHÔNG?')
          .meta 19 - 11 - 2016 | 136 trả lời | 1360 xem
          p Trẻ em mắc đái tháo đường nếu không được điều trị sẽ phải đối mặt với rất nhiều biến chứng đe dọa sức khỏe như mắc các bệnh tim mạch, tổn thương thần kinh hoặc bệnh thận, mờ mắt… Trong số đó những tổn thương về tim và mạch máu là nguyên nhân hàng đầu dẫn đến tử vong. Câu hỏi được đặt ra rằng, nếu trẻ em bị tiểu đường lớn lên có khỏi hẳn không? Xin thưa rằng, đây là một trong những bệnh thuộc nhóm mạn tính nên một khi mắc phải là đồng nghĩa sống chung với nó suốt đời. Và đây là suy nghĩ sai lầm của rất nhiều người bởi trẻ em bị tiểu đường lớn lên vẫn phải song hành với bệnh này.....
          .read-more-link: +link('Xem thêm', '#!', 'Xem thêm &gt;&gt;')
      li.wow.fadeInLeft.animated(data-wow-duration="1s")
        .thumb
          +link()
            +img-upload('img-3.jpg', 'alt')
        .content
          h3: +link('TRẺ EM BỊ TIỂU ĐƯỜNG LỚN LÊN SẼ KHỎI CÓ ĐÚNG KHÔNG?')
          .meta 19 - 11 - 2016 | 136 trả lời | 1360 xem
          p Trẻ em mắc đái tháo đường nếu không được điều trị sẽ phải đối mặt với rất nhiều biến chứng đe dọa sức khỏe như mắc các bệnh tim mạch, tổn thương thần kinh hoặc bệnh thận, mờ mắt… Trong số đó những tổn thương về tim và mạch máu là nguyên nhân hàng đầu dẫn đến tử vong. Câu hỏi được đặt ra rằng, nếu trẻ em bị tiểu đường lớn lên có khỏi hẳn không? Xin thưa rằng, đây là một trong những bệnh thuộc nhóm mạn tính nên một khi mắc phải là đồng nghĩa sống chung với nó suốt đời. Và đây là suy nghĩ sai lầm của rất nhiều người bởi trẻ em bị tiểu đường lớn lên vẫn phải song hành với bệnh này.....
          .read-more-link: +link('Xem thêm', '#!', 'Xem thêm &gt;&gt;')
       li.wow.fadeInRight.animated(data-wow-duration="1s")
        .thumb
          +link()
            +img-upload('img-3.jpg', 'alt')
        .content
          h3: +link('TRẺ EM BỊ TIỂU ĐƯỜNG LỚN LÊN SẼ KHỎI CÓ ĐÚNG KHÔNG?')
          .meta 19 - 11 - 2016 | 136 trả lời | 1360 xem
          p Trẻ em mắc đái tháo đường nếu không được điều trị sẽ phải đối mặt với rất nhiều biến chứng đe dọa sức khỏe như mắc các bệnh tim mạch, tổn thương thần kinh hoặc bệnh thận, mờ mắt… Trong số đó những tổn thương về tim và mạch máu là nguyên nhân hàng đầu dẫn đến tử vong. Câu hỏi được đặt ra rằng, nếu trẻ em bị tiểu đường lớn lên có khỏi hẳn không? Xin thưa rằng, đây là một trong những bệnh thuộc nhóm mạn tính nên một khi mắc phải là đồng nghĩa sống chung với nó suốt đời. Và đây là suy nghĩ sai lầm của rất nhiều người bởi trẻ em bị tiểu đường lớn lên vẫn phải song hành với bệnh này.....
          .read-more-link: +link('Xem thêm', '#!', 'Xem thêm &gt;&gt;')
      li.wow.fadeInLeft.animated(data-wow-duration="1s")
        .thumb
          +link()
            +img-upload('img-3.jpg', 'alt')
        .content
          h3: +link('TRẺ EM BỊ TIỂU ĐƯỜNG LỚN LÊN SẼ KHỎI CÓ ĐÚNG KHÔNG?')
          .meta 19 - 11 - 2016 | 136 trả lời | 1360 xem
          p Trẻ em mắc đái tháo đường nếu không được điều trị sẽ phải đối mặt với rất nhiều biến chứng đe dọa sức khỏe như mắc các bệnh tim mạch, tổn thương thần kinh hoặc bệnh thận, mờ mắt… Trong số đó những tổn thương về tim và mạch máu là nguyên nhân hàng đầu dẫn đến tử vong. Câu hỏi được đặt ra rằng, nếu trẻ em bị tiểu đường lớn lên có khỏi hẳn không? Xin thưa rằng, đây là một trong những bệnh thuộc nhóm mạn tính nên một khi mắc phải là đồng nghĩa sống chung với nó suốt đời. Và đây là suy nghĩ sai lầm của rất nhiều người bởi trẻ em bị tiểu đường lớn lên vẫn phải song hành với bệnh này.....
          .read-more-link: +link('Xem thêm', '#!', 'Xem thêm &gt;&gt;')
          
      p.text-center: +link('Xem tiếp', '#!').button.btn-primary.radius