section.post-block
	.container
		.row(data-sameheight="")
			.col-lg-9.col-md-8.wow.fadeInLeft.animated(data-wow-duration="1s")
				.hot-post.bgd-light-grey(data-parent="")
					.thumb
						a(href="#!" title=""): +img-upload('img-1.jpg', 'alt')
					.content
						+heading-3('Bệnh tiểu đường')
						em Bệnh tiểu đường hay còn gọi là đái tháo đường hoặc bệnh dư đường là một căn bệnh hết sức nguy hiểm nếu không được phát hiện và điều trị kịp thời. Đái tháo đường gây ra so sự rối loạn sự chuyển hóa cacbohydrat khi hoocmon của tuyến tụy bị thiếu hoặc giảm các tác động đối với cơ thể làm cho lượng đường trong máu ở mức cao làm cho người bệnh đi tiểu nhiều, tiểu ban đêm, khát nước… Theo thống kê từ các tổ chức Y tế thế giới cùng các chuyên gia đầu nghành xác nhận Đái tháo đường hiện nay là một trong số những căn bệnh nguy hiểm chiếm tỷ lệ rất cao, trung bình cứ 100 người thì 1 người mắc bệnh. Theo thống kê từ tổ chức y tế thế giới về bệnh đái tháo đường năm 2011 thì trên thế giới có khoảng 366 triệu người mắc bệnh dư thừa đường và 280.
						.text-right: +link('Xem tiếp', '#!').button.small.btn-primary.radius
			.col-lg-3.col-md-4.wow.fadeInRight.animated(data-wow-duration="1s")
				.latest-post.bgd-light-grey(data-parent="")
					+item-cate-1()