extends layouts/layout

block vars
    -title = 'Shop By brand'
    -bodyClass = 'brand-page'
    -mainNav = 1
    -sub1 = 1
    -sub2 = 1
    -sub3 = 0

block main
    main
        .container
            .breadcrumbs-wrap
                +breadcrumbs([
                    {title: 'Home', href: 'index.html', text: 'Home'},
                    {title: 'Shop by Brand', href: '#'}
                ])
            .brand-wrap
                h1 Shop by Brand
                ul.alpha-list
                    li: +link('#', 'javascript:;')
                    li.active: +link('A', 'javascript:;')
                    li.active: +link('B', 'javascript:;')
                    li: +link('C', 'javascript:;')
                    li.active: +link('D', 'javascript:;')
                    li: +link('E', 'javascript:;')
                    li: +link('F', 'javascript:;')
                    li: +link('G', 'javascript:;')
                    li: +link('H', 'javascript:;')
                    li: +link('I', 'javascript:;')
                    li: +link('J', 'javascript:;')
                    li: +link('K', 'javascript:;')
                    li: +link('L', 'javascript:;')
                    li: +link('M', 'javascript:;')
                    li: +link('N', 'javascript:;')
                    li: +link('O', 'javascript:;')
                    li: +link('P', 'javascript:;')
                    li: +link('Q', 'javascript:;')
                    li: +link('R', 'javascript:;')
                    li: +link('S', 'javascript:;')
                    li: +link('T', 'javascript:;')
                    li: +link('U', 'javascript:;')
                    li: +link('V', 'javascript:;')
                    li: +link('W', 'javascript:;')
                    li: +link('X', 'javascript:;')
                    li: +link('Y', 'javascript:;')
                    li: +link('Z', 'javascript:;')
                .brands-section.clearfix
                    ul.list-brand
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-1.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-2.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-3.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-4.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-5.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-6.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-7.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-8.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-9.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-10.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-11.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...
                        li
                            +link('#').item
                                .thumb
                                    .align
                                        span
                                            +img-upload('brand-12.png')
                                    .hover-box
                                        span
                                            | Allen&Health
                                            i.icon-arrow-right
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim elit...

