extends layouts/sitemap

block main
  //- +rowTitle('Guide')
  //- +rowContentList([
  //-   {
  //-   name: 'Style Guide',
  //-   link: 'temp-style-guide.html',
  //-     progress: '100'
  //-   },
  //-   {
  //-   name: 'Temp Sprite',
  //-   link: 'temp-sprite.html',
  //-     progress: '100'
  //-   },
  //-   {
  //-   name: 'Temp Flexbox',
  //-   link: 'temp-flex.html',
  //-     progress: '5'
  //-   },
  //-   {
  //-   name: 'Guide js',
  //-   link: 'temp-js.html',
  //-     progress: '100'
  //-   },
  //-   {
  //-   name: 'Images',
  //-   link: 'images.html',
  //-     progress: '100'
  //-   }
  //- ])
  +rowTitle('Pages')
  +rowContentList([
    {
      name: 'Index',
      link: 'index.html',
      progress: '100'
    },
    {
      name: 'Product listing',
      link: 'products-listing.html',
      progress: '100'
    },
    {
      name: 'Product Details',
      link: 'product-details.html',
      progress: '100'
    },
    {
      name: 'Blog',
      link: 'blog.html',
      progress: '100'
    },
    {
      name: 'Blog Details',
      link: 'blog-details.html',
      progress: '100'
    },
    {
      name: 'contact',
      link: 'contact.html',
      progress: '100'
    },
    {
      name: 'Brands',
      link: 'brands.html',
      progress: '100'
    },
    {
      name: 'FAQs',
      link: 'faq.html',
      progress: '100'
    },
    {
      name: 'Subpages',
      link: 'subpages.html',
      progress: '100'
    },
    {
      name: 'Gift Card',
      link: 'gift.html',
      progress: '100'
    },
    {
      name: 'Cart',
      link: 'cart.html',
      progress: '100'
    },
    {
      name: 'Checkout',
      link: 'checkout.html',
      progress: '100'
    }
  ])
