section.detail-block
  .container
    .content
      .thumbnail
        +img-upload('img-11.png').wow.zoomIn.animated(data-wow-duration=".3s")
      ul.ingredients
        +ingredient('img-16.png', 'Nghệ vàng <span>Curcuma longa extract</span>').wow.zoomInDown.animated(data-wow-duration=".3s" data-wow-delay=".3s")
        +ingredient('img-17.png', 'Nước <span>Aqua</span>').wow.zoomInDown.animated(data-wow-duration=".3s" data-wow-delay=".6s")
        +ingredient('img-18.png', 'Propylen Glycol <span>Propylen Glycol</span>').wow.zoomInDown.animated(data-wow-duration=".3s" data-wow-delay=".8s")
        +ingredient('img-19.png', 'Bạc hà <span>Menthol</span>').wow.zoomInDown.animated(data-wow-duration=".3s" data-wow-delay="1s")
        +ingredient('img-20.png', 'Long não <span>Camphor</span>').wow.zoomInDown.animated(data-wow-duration=".3s" data-wow-delay="1.2s")
        +ingredient('img-21.png', 'Propyl paraben <span>Propyl paraben</span>').wow.zoomInDown.animated(data-wow-duration=".3s" data-wow-delay="1.4s")
        +ingredient('img-22.png', 'Đường hoá học <span>Aspartam</span>').wow.zoomInDown.animated(data-wow-duration=".3s" data-wow-delay="1.6s")
        +ingredient('img-23.png', 'Methyl Paraben <span>Methyl Paraben</span>').wow.zoomInDown.animated(data-wow-duration=".3s" data-wow-delay="1.8s")
