section.faculty-block(style="background-image: url(images/upload/img-4.jpg)")
  .container
    h1.heading-1.wow.fadeInDown.animated(data-wow-duration=".3s") Công dụng của Vinaho
    .content
      ul
        li.wow.fadeInDown.animated(data-wow-duration=".3s" data-wow-delay=".3s") Ngăn ngừa ho, viêm họng, và phòng tránh các bệnh lây qua đường hô hấp.
        li.wow.fadeInDown.animated(data-wow-duration=".3s" data-wow-delay=".6s") Vệ sinh họng hàng ngày, khử mùi hôi miệng (do chứng viêm họng gây ra) giúp hơi thở thơm mát, tạo cảm giác sảng khoái
        li.wow.fadeInDown.animated(data-wow-duration=".3s" data-wow-delay=".9s") Phù hợp với mọi đối tượng, đặc biệt là người viêm họng người ho gió, ho khan, ho do dị ứng thời tiết
    .circle-box
      +img-upload('img-12.png').wow.zoomIn.animated(data-wow-duration=".6s")
