section.functional-foods-block
	.container
		.content
			h2.heading-2.text-uppercase
				span
					| Siro vinaho
					.divider
						span
							i.ion-star
							i.ion-star
							i.ion-star
			ul.list-styled
				li.wow.fadeInRight.animated(data-wow-duration=".3s"): #[i.ion-android-done] Phối hợp tinh hoa y học cổ truyền và công nghệ hiện đại, công ty cổ phần Sao Thái Dương đã nghiên cứu thành công bộ sản phẩm VINAHO Gồm vệ sinh họng VINAHO và thực phẩm chức năng VINAHO:
				li.wow.fadeInRight.animated(data-wow-duration=".6s" data-wow-delay=".3s"): #[i.ion-android-done] Thực phẩm chức năng VINAHO:#[br]Xuất phát từ bài thuốc cổ phương chuyên dùng cho bệnh ho, được gia thêm một số thành phần, tạo ra tác dụng hiệp đồng, có hiệu quả tốt đối với người bị ho.
				li.wow.fadeInRight.animated(data-wow-duration=".9s" data-wow-delay=".6s"): #[i.ion-android-done] Sản phẩm có nhiều ưu điểm: Giúp long đờm, bổ phế, chỉ khái, hỗ trợ điều trị trong các trường hợp ho gió, ho khan, ho có đờm, ho do thay đổi thời tiết. Đặc biệt, sản phẩm TPCN VINAHO bào chế dạng dung dịch, có cốc định lượng rõ ràng rất dễ dùng cho người lớn, người già và trẻ nhỏ.
			a(href='#!', title='Xem chi tiết').button.btn-primary.small.radius.wow.fadeInUp.animated(data-wow-duration=".3s" data-wow-delay="1s") Xem chi tiết
		.thumb
			+img-upload('img-10.png').wow.fadeInUp.animated(data-wow-duration=".3s")
.green-line.text-center.wow.zoomIn.animated(data-wow-duration=".3s"): +img('green-line.png')
section.functional-foods-block.functional-foods-block-1
	.container
		.content
			h2.heading-2.text-uppercase
				span
					| Xịt họng Vinaho
					.divider
						span
							i.ion-star
							i.ion-star
							i.ion-star
			ul.list-styled
				li.wow.fadeInRight.animated(data-wow-duration=".3s"): #[i.ion-android-done] Phối hợp tinh hoa y học cổ truyền và công nghệ hiện đại, công ty cổ phần Sao Thái Dương đã nghiên cứu thành công bộ sản phẩm VINAHO Gồm vệ sinh họng VINAHO và thực phẩm chức năng VINAHO:
				li.wow.fadeInRight.animated(data-wow-duration=".3s" data-wow-delay=".3s"): #[i.ion-android-done] Thực phẩm chức năng VINAHO:#[br]Xuất phát từ bài thuốc cổ phương chuyên dùng cho bệnh ho, được gia thêm một số thành phần, tạo ra tác dụng hiệp đồng, có hiệu quả tốt đối với người bị ho.
				li.wow.fadeInRight.animated(data-wow-duration=".3s" data-wow-delay=".6s"): #[i.ion-android-done] Sản phẩm có nhiều ưu điểm: Giúp long đờm, bổ phế, chỉ khái, hỗ trợ điều trị trong các trường hợp ho gió, ho khan, ho có đờm, ho do thay đổi thời tiết. Đặc biệt, sản phẩm TPCN VINAHO bào chế dạng dung dịch, có cốc định lượng rõ ràng rất dễ dùng cho người lớn, người già và trẻ nhỏ.
			a(href='#!', title='Xem chi tiết').button.btn-primary.small.radius.wow.fadeInRight.animated(data-wow-duration=".3s" data-wow-delay=".9s") Xem chi tiết
		.thumb
			+img-upload('img-11.png').wow.fadeInLeft.animated(data-wow-duration=".6s")
