section.how-to-use
  h2.heading-3.text-center Vệ sinh họng Vinaho
  .content
    .thumb.hidden-xs
      +img-upload('img-24.png').wow.zoomIn.animated(data-wow-duration=".3s")
    ul
      li.wow.fadeInLeft.animated(data-wow-duration=".3s" data-wow-delay=".3s") Mở nắp lọ, xịt 1-2 lần bỏ đi phần dung dịch đầu tiên.
      li.wow.fadeInLeft.animated(data-wow-duration=".3s" data-wow-delay=".9s") Hướng vòi xịt vào vòm họng, bấm nhanh và mạnh 2-3 lần, ngày dùng 6-10 lần.
      li.wow.fadeInLeft.animated(data-wow-duration=".3s" data-wow-delay="1.2s") Nên dùng hàng ngày khi có các dấu hiệu khô họng, đau họng, hoặc ngứa rát tại họng
    .thumb-1
      +img-upload('img-25.png').wow.zoomIn.animated(data-wow-duration=".3s")
