section.price-module
  .container
    .heading.text-center
      h2.heading-4 Giá niêm yết của từng sản phẩm
      .divider
        span
          i.ion-ios-star
          i.ion-ios-star
          i.ion-ios-star
    .content
      .left-col.relative.wow.fadeInLeft.animated(data-wow-duration=".6s")
        h5 Siro Vinaho
        span.price GNY: 35.000 VNĐ/hộp
        +img-upload('img-15.png')
      .right-col.relative.wow.fadeInRight.animated(data-wow-duration=".6s")
        h5 Xịt họng Vinaho
        span.price GNY: 35.000 VNĐ/hộp
        +img-upload('img-14.png')
