section.sub-menu.relative
  .container
    .relative.inner.wow.fadeInLeftBig.animated(data-wow-duration=".3s")
      i.ion-star.hidden-xs
      nav
        +link('Thành phần chính')
        +link('Cách dùng')
        +link('Videos giới thiệu')
        +link('Bài viết')
