ul.list-color-temp.clearfix
  +color('@color00', 'transparent')
  +color('@color01', '#fff')
  +color('@color02', '#f1f1f1')
  +color('@color03', '#ddd')
  +color('@color04', '#ccc')
  +color('@color05', '#e4e4e4')
  +color('@color06', '#bbb')
  +color('@color07', '#aaa')
  +color('@color08', '#999')
  +color('@color09', '#f5f5f5')
  +color('@color10', '#333')
  +color('@color11', '#000')
  +color('@color12', '#ff0000')
  +color('@color13', '#027cee')
  +color('@color14', '#f26c10')
  +color('@color15', '#343434')
  +color('@color16', '#454545')
  +color('@color17', '#666')
  +color('@color18', '#fff77c')
