extends ../layouts/template

block vars
  -title = 'Images'
  -bodyClass = 'template'

block main
  ul.tmp-img(data-copies)
    li(data-handler): +images('banner-0.jpg', 'alt')
    li(data-handler): +images('banner-1.jpg', 'alt')
    li(data-handler): +images('banner-2.jpg', 'alt')
    li(data-handler): +images('banner-3.jpg', 'alt')
    li(data-handler): +images('banner-4.jpg', 'alt')
    li(data-handler): +images('banner-5.jpg', 'alt')
    li(data-handler): +images('img-1.jpg', 'alt')
    li(data-handler): +images('img-2.jpg', 'alt')
    li(data-handler): +images('img-3.jpg', 'alt')
    li(data-handler): +images('img-4.jpg', 'alt')
    li(data-handler): +images('img-5.jpg', 'alt')
    li(data-handler): +images('img-6.jpg', 'alt')
    li(data-handler): +images('img-7.jpg', 'alt')
    li(data-handler): +images('img-8.jpg', 'alt')
    li(data-handler): +images('img-9.jpg', 'alt')
    li(data-handler): +images('img-10.jpg', 'alt')

block menu
  .tmp-main-nav-wrap
    .tmp-main-nav
      ul
        +items([
          {title: 'Style Guide', href: 'temp-style-guide.html', linkClass: 'outlink'},
          {title: 'Temp JS', href: 'temp-js.html', linkClass: 'outlink'},
          {title: 'Guide Sprite', href: 'temp-sprite.html', linkClass: 'outlink'}
        ])
