ul.list-color-temp.clearfix
  +color('@color00', 'transparent')
  +color('@color01', '#fff')
  +color('@color02', '#f1f1f1')
  +color('@color03', '#ddd')
  +color('@color04', '#ccc')
  +color('@color05', '#bbb')
  +color('@color06', '#999')
  +color('@color07', '#666')
  +color('@color08', '#333')
  +color('@color09', '#111')
  +color('@color10', '#000')
  +color('@color11', '#0167a6')
  +color('@color12', '#0179c3')
  +color('@color13', '#1b87c9')
  +color('@color14', '#01a66e')
  +color('@color15', '#01c381')
  +color('@color16', '#1bc98e')
  +color('@color17', '#d20000')
  +color('@color18', '#eee')

