+icons([
  'blogspot',
  'calculator',
  'chart',
  'clock',
  'compare',
  'cube',
  'headphone',
  'help',
  'mic',
  'phone-outline',
  'refresh',
  'settings',
  'shipping',
  'stats-bars',
  'usd',
  'shopping-cart',
  'map-pin',
  'user',
  'files-empty',
  'glass',
  'search',
  'email',
  'star',
  'star-outline',
  'check',
  'close',
  'trash-outline',
  'tag',
  'pencil',
  'remove',
  'check-circle',
  'plus',
  'minus',
  'heart-outline',
  'twitter',
  'fb',
  'filter',
  'arrow-dropdown',
  'arrow-dropup',
  'arrow-dropleft',
  'arrow-dropright',
  'arrow-left',
  'arrow-right',
  'arrow-up',
  'arrow-down',
  'doc',
  'youtube-square',
  'instagram',
  'telephone',
  'menu',
  'stack',
  'grid',
  'close-thin',
  'alert-triangle',
  'locked'
])
