ul.list-color-temp.clearfix
  +color('@color01', '#fff')
  +color('@color02', '#f1f1f1')
  +color('@color03', '#ddd')
  +color('@color04', '#ccc')
  +color('@color05', '#c0c0c0')
  +color('@color06', '#bbb')
  +color('@color07', '#aaa')
  +color('@color08', '#999')
  +color('@color09', '#666')
  +color('@color10', '#333')
  +color('@color11', '#000')
  +color('@color12', '#096033')
  +color('@color13', '#ed5b7e')
  +color('@color14', '#f8eb5f')
  +color('@color15', '#565656')
  +color('@color16', '#1a6b41')
  +color('@color17', '#e8371d')
  +color('@color18', '#ee3d27')
  +color('@color19', '#de6300')
