.content.relative
  .promotion
    .product-list(data-slider='{"type": "carousel3"}')
      +link('product name', 'salewith.html').item-product
        .tmb-img.img-view
          +img-upload('image-23','photo_23.jpg')
          span.celling
            strong Bán
            | Chạy
          span.icon-gift
          span.pr-new Mới
        .info
          p.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          p.title Đại dương 3D
          +button({}).btn-primary.full-width Chia sẻ
      +link('product name', 'salewith.html').item-product
        .tmb-img.img-view
          +img-upload('image-11','photo_11.jpg')
        .info
          p.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          p.title Đại dương 3D
          +button({}).btn-primary.full-width Chia sẻ
      +link('product name', 'salewith.html').item-product
        .tmb-img.img-view
          +img-upload('image-20','photo_20.jpg')
        .info
          p.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          p.title Đại dương 3D
          +button({}).btn-primary.full-width Chia sẻ
      +link('product name', 'salewith.html').item-product
        .tmb-img.img-view
          +img-upload('image-08','photo_21.jpg')
        .info
          p.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          p.title Đại dương 3D
          +button({}).btn-primary.full-width Chia sẻ
      +link('product name', 'salewith.html').item-product
        .tmb-img.img-view
          +img-upload('image-06','photo_06.jpg')
        .info
          p.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          p.title Đại dương 3D
          +button({}).btn-primary.full-width Chia sẻ
      +link('product name', 'salewith.html').item-product
        .tmb-img.img-view
          +img-upload('image-14','photo_14.jpg')
        .info
          p.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          p.title Đại dương 3D
          +button({}).btn-primary.full-width Chia sẻ
      +link('product name', 'salewith.html').item-product
        .tmb-img.img-view
          +img-upload('image-20','photo_20.jpg')
        .info
          p.price
            span.new-price 700.000 đ
            span.old-price 800.000 đ
          p.title Đại dương 3D
          +button({}).btn-primary.full-width Chia sẻ
    i.icon-loader
