footer.footer(style="background-image: url(images/upload/bg-footer.jpg)")
  .container
    .flogo
      +link('index.html')
        +img('f-logo.png')
    p.watchword.text-uppercase Niềm tin cho doanh nghiệp
  .foot-line
    +img('f-line.png')
  .container.bottom-footer
    ul.flinks
      li: +link('Trang chủ', 'index.html')
      li: +link('Giới thiệu', '#!')
      li: +link('Dịch vụ', '#!')
      li: +link('Tin tức', '#!')
      li: +link('Tuyển dụng', '#!')
      li: +link('Báo giá Online', '#!')
    p.copyright Copyright &copy; 2016 - Bản quyền thiết kế web thuộc về Helios Việt Nam
