footer.footer
	.footer-menu
		ul.nav
			li: a(href="index.html" title="Home") Home
			li: a(href="student.html" title="For Students") For Students
			li: a(href="parents.html" title="Parents") Parents
			li: a(href="teachers.html" title="Teachers") Teachers
			li: a(href="register.html" title="Register") Register
			li: a(href="leaderboard.html" title="Leaderboard") Leaderboard
			li: a(href="news.html" title="News") News
			li: a(href="contact-us.html" title="Contact Us") Contact Us
	.copyright
		.wrap
			p: a(href="terms.html" title="Terms and Conditions") Terms and Conditions
			p A.C.E. Tuition Centre Pty Ltd. © Since 2015
