.more-info
  ul.list-link
    +items([
      {title: 'Phí thi công', href: 'more-info.html', text: 'Phí thi công<i class="icon-next"></i>'},
      {title: 'Giao hàng trong vòng từ 2 đến 3 ngày', href: 'how-to-order.html', text: '<p>Giao hàng trong vòng từ 2 đến 3 ngày</p><p>Đặt hàng qua hotline: 1800 585 888</p><u>Hướng dẫn đặt hàng</u><i class="icon-next"></i>'}
    ])
  ul.list-link
    +items([
      {title: 'Thông tin chi tiết', href: 'details-info.html', text: 'Thông tin chi tiết<i class="icon-next"></i>'},
      {title: 'Đánh giá bình luận', href: 'details-info-comment.html', text: 'Đánh giá bình luận (<span class="pink">0</span>)<i class="icon-next"></i>'}
    ])
