//- .popup.popup-slider#slider
//-   .popup-header
//-     i.icon-close(data-popup="close")
//-   .main
//-     .relative
      //- .slick-wrap.slider-thumb(data-slider='{"type": "syncing", "navFor": ".slider-nav", "view": "true"}')
      //-   .item: .img-view: +img-upload('images', 'slide-1.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-5.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-3.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-4.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-1.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-5.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-3.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-4.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-1.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-5.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-3.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-4.jpg')
      //- .slick-wrap.slider-nav(data-slider='{"type": "syncing", "navFor": ".slider-thumb"}')
      //-   .item: .img-view: +img-upload('images', 'slide-1.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-5.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-3.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-4.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-1.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-5.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-3.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-4.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-1.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-5.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-3.jpg')
      //-   .item: .img-view: +img-upload('images', 'slide-4.jpg')