.content.grid.ralative
  .watched-product(data-slider='{"type": "carousel5"}')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
    +link('product name', 'details.html').item
      .img-view
        +img-upload('image-22','photo_22.jpg')
  i.icon-loader
