body {
  font-family: Roboto, Arial, sans-serif;
}
main {
  min-height: calc(100vh - 64px - 144px);
}
.section-1 .title,
.section-1 .desc {
  text-align: center;
}
.section-1 .title {
  margin-bottom: 10px;
}
.section-1 .title h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.6rem;
  font-weight: 700;
}
.section-1 .desc {
  padding: 0 30px;
}
.section-1 .desc p {
  font-size: 16px;
  font-size: 1.067rem;
}
@media (min-width: 768px) {
  .section-1 {
    padding-bottom: 60px;
  }
}
