body {
  font-family: "lato", "Open Sans", Helvetica, "Helvetica Neue", Roboto, Arial, sans-serif;
}
@media (min-width: 768px) {
  .container {
    max-width: 890px;
  }
}
.box-heading {
  padding: 30px 0 50px;
  color: #000;
}
.box-heading h2 {
  margin-bottom: 5px;
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: 700;
}
.box-heading p {
  margin-bottom: 5px;
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.6;
}
.box-heading h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.6rem;
}
.order-summary {
  font-size: 18px;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .order-summary {
    margin-bottom: 20px;
  }
}
.main-content {
  margin-bottom: 20px;
}
.box-shipping-address,
.box-billing-details {
  margin-bottom: 35px;
  padding: 30px;
  border: 1px solid #bbb;
}
.box-shipping-address h3,
.box-billing-details h3 {
  margin-bottom: 10px;
  color: #37B6C6;
  font-size: 20px;
  font-size: 1.333rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .box-shipping-address,
  .box-billing-details {
    min-height: 300px;
  }
}
.receipt-details {
  font-size: 14px;
  font-size: 0.933rem;
}
.receipt-details span {
  display: block;
  margin-bottom: 10px;
}
.receipt-list h2 {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.2rem;
  border-bottom: 1px solid #37B6C6;
  color: #37B6C6;
}
.receipt-list ul {
  list-style: none;
  padding-left: 0;
}
.receipt-list li {
  margin-bottom: 20px;
}
.receipt-list li span {
  display: inline-block;
  width: 50%;
  font-size: 15px;
  font-size: 1rem;
}
.receipt-list li span + span {
  text-align: right;
}
.receipt-list .inner {
  padding: 6px 0;
  font-size: 0;
}
.receipt-list .inner + .inner {
  border-top: 1px solid #ddd;
}
.receipt-list .inner:first-of-type span {
  font-size: 17px;
  font-size: 1.133rem;
}
.receipt-list .inner:last-of-type {
  padding-top: 10px;
}
.receipt-list .inner:last-of-type span {
  width: 100%;
  font-style: italic;
}
.infomation-inner {
  padding: 40px 0;
}
.infomation-inner:before,
.infomation-inner:after {
  display: table;
  content: "";
  clear: both;
}
.infomation-inner .ct_thumb {
  text-align: center;
  margin-bottom: 40px;
}
.infomation-inner .ct_thumb img {
  border: 1px solid #ccc;
}
.infomation-inner .ct_content h2 {
  margin-bottom: 10px;
  font-size: 26px;
  font-size: 1.733rem;
  font-weight: 500;
}
.infomation-inner .ct_content p {
  margin-bottom: 0;
  font-size: 14px;
  font-size: 0.933rem;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .infomation-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .infomation-inner .ct_thumb {
    float: left;
    width: 230px;
    margin-bottom: 0;
  }
  .infomation-inner .ct_content {
    float: left;
    width: -o-calc(100% - 230px);
    width: calc(100% - 230px);
  }
}
.box-exclamation {
  padding: 10px;
  border: 1px dashed #ccc;
  background: #f3f3f3;
  font-size: 14px;
  font-size: 0.933rem;
}
.box-exclamation p {
  position: relative;
  padding-left: 55px;
}
.box-exclamation p:before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "\e903";
  font-family: 'icomoon';
  color: red;
  font-size: 40px;
}
@media (min-width: 768px) {
  .box-exclamation {
    padding: 15px;
  }
}
