body {
  font-family: "lato", Helvetica, "Helvetica Neue", Roboto, Arial, sans-serif;
}
main {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #f1f4f8;
}
main p {
  overflow: hidden;
}
main .container {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #dce9fb;
}
.aboutus-content h2 {
  margin-top: 40px;
  font-size: 24px;
  font-size: 1.6rem;
}
.aboutus-content h4 {
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 1.067rem;
}
