main {
  padding: 25px 0;
  min-height: calc(100vh - 96px - 139px);
}
.title {
  margin-bottom: 10px;
  text-align: center;
}
.title h1 {
  font-size: 18px;
  font-size: 1.2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .title h1 {
    font-size: 24px;
    font-size: 1.6rem;
  }
}
.declineCard,
.js-paypal-decline-message {
  margin-bottom: 20px;
  text-align: center;
}
.declineCard p,
.js-paypal-decline-message p {
  font-size: 18px;
  font-size: 1.2rem;
  color: #8a8a8a;
}
@media (min-width: 768px) {
  .declineCard p,
  .js-paypal-decline-message p {
    font-size: 24px;
    font-size: 1.6rem;
  }
}
.js-paypal-decline-message {
  display: none;
}
.js-paypal-decline-message.editmode {
  display: block;
}
.goback-btn {
  text-align: center;
}
.goback-btn button {
  padding: 0 42px;
  height: 50px;
  font-size: 18px;
  font-size: 1.2rem;
  background-color: #7ad712;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7ad712), to(#5fa80e));
  background-image: -o-linear-gradient(top, #7ad712 0, #5fa80e 100%);
  background-image: linear-gradient(to bottom, #7ad712 0, #5fa80e 100%);
  border: 0;
  border-bottom: 4px #4d870b solid;
  outline: 0;
}
.goback-btn button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a8ff0f), to(#a8ff0f));
  background: -o-linear-gradient(top, #a8ff0f 0, #a8ff0f 100%);
  background: linear-gradient(to bottom, #a8ff0f 0, #a8ff0f 100%);
}
@media (min-width: 768px) {
  .goback-btn button {
    height: 68px;
  }
}
