/*------------------------------------------------------------------------------ Global Home*/
body {
  font-family: 'Montserrat', sans-serif;
}
main {
  padding: 60px 0;
}
.error-inner h2,
.error-inner h4 {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 1px;
}
.error-inner h2 .sub-text,
.error-inner h4 .sub-text {
  display: block;
  font-size: 24px;
}
.error-inner .btn {
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #FF770D;
  font-size: 17px;
  color: #fff;
  border-color: #FF770D;
  font-weight: 500;
  border-radius: 3px;
  text-decoration: none;
}
.error-inner .btn:after {
  content: "\f105";
  font-family: icomoon;
  font-size: 22px;
  margin-left: 20px;
  line-height: 1;
}
.error-inner .btn:hover {
  background-color: #ff7e19;
}
@media (min-width: 768px) {
  .error-inner h2 {
    display: none;
  }
  .error-inner .w_item {
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .error-inner .w_item > div {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .error-inner h4 {
    font-size: 90px;
  }
  .error-inner h4 .sub-text {
    font-size: 40px;
  }
  .error-inner p {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .error-inner {
    text-align: center;
  }
  .error-inner h4 {
    display: none;
  }
  .error-inner .w_thumb {
    margin-top: -30px;
  }
}
