body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #111;
  font-weight: 500;
  line-height: 1.52941176;
}
@media (min-width: 992px) {
  body {
    font-size: 17px;
  }
}
a {
  color: #3B63C8;
}
p {
  line-height: 1.52941176;
}
header {
  background-color: #15378E;
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 991px) {
  header .menu {
    color: white;
  }
  header .nav a {
    text-transform: uppercase;
  }
}
@media (min-width: 992px) {
  header {
    padding: 20px 0;
  }
  header .logo img {
    max-width: 203px;
  }
  header .link-header {
    color: white;
  }
  header .link-header a {
    color: white;
    text-transform: uppercase;
    border-color: #3C5FB7;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  header .link-header a:first-child {
    border-left: 1px solid #3C5FB7;
  }
}
.container {
  max-width: 1030px;
}
.editor .w_thumb {
  margin-bottom: 5px;
}
.editor .w_thumb img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.editor h2 {
  font-size: 21px;
  line-height: 1.28;
}
.editor h2 a {
  color: #3B63C8;
}
.editor p,
.editor li {
  margin-bottom: 20px;
}
.editor small {
  color: #888;
  font-size: 13px;
  line-height: 1.42857143;
  display: block;
}
@media (min-width: 992px) {
  .editor h2 {
    font-size: 26px;
  }
  .editor small {
    font-size: 14px;
  }
}
.main-heading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.main-heading .title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.25;
  margin-bottom: 5px;
  font-weight: 700;
}
.main-heading .sub-text {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 700;
}
@media (min-width: 992px) {
  .main-heading .title {
    font-size: 32px;
  }
  .main-heading .sub-text {
    font-size: 18px;
  }
}
.section-2 .col-md-4 {
  display: none;
}
@media (min-width: 768px) {
  .section-2 .col-md-4 {
    display: block;
  }
}
@media (min-width: 1200px) {
  .section-2 .col-md-4 {
    display: block;
    width: 300px;
    padding-left: 40px;
  }
  .section-2 .col-md-8 {
    width: 730px;
  }
}
.w_thumb {
  font-size: 0;
  text-align: center;
}
.w_thumb img {
  font-size: 13px;
}
.easy-to-use {
  margin-bottom: 20px;
}
.easy-to-use .w_main_title {
  color: white;
  text-align: center;
  font-size: 19px;
  position: relative;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  margin-bottom: 0;
}
.easy-to-use .w_main_title .text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("/pub-assets/fileuploads/images/pre/title_howtouse.png") no-repeat center center / 100%;
  width: 275px;
  height: 47px;
  padding: 0 10px;
}
.easy-to-use .w_outer {
  border: 2px dashed #B8C7ED;
  padding: 40px 10px 20px;
}
.easy-to-use .w_item {
  text-align: center;
  margin-bottom: 30px;
}
.easy-to-use .w_item:last-child {
  margin-bottom: 0;
}
.easy-to-use .w_content_wrap {
  padding: 10px 0;
}
.easy-to-use .w_content_wrap .w_title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  background: url("/pub-assets/fileuploads/images/pre/bg_step.png") no-repeat center center / auto 100%;
  color: white;
  padding: 0 5px;
  width: 115px;
  height: 41px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  padding-top: 3px;
}
.easy-to-use .w_content_wrap .w_title em {
  font-size: 22px;
  padding-left: 2px;
}
.easy-to-use .w_content_wrap .w_desc {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .easy-to-use .w_main_title {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
  }
  .easy-to-use .w_main_title .text {
    width: 404px;
    height: 68px;
  }
  .easy-to-use .w_outer {
    padding: 50px 20px;
  }
  .easy-to-use .w_item {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
  }
  .easy-to-use .w_item.level-1 {
    padding-left: 40px;
  }
  .easy-to-use .w_item.level-2 {
    padding-left: 170px;
    margin: -20px 0 -30px;
  }
  .easy-to-use .w_item.level-3 {
    padding-left: 30px;
  }
  .easy-to-use .w_item.level-3 .w_content_wrap {
    padding-top: 30px;
  }
  .easy-to-use .w_thumb {
    width: 206px;
  }
  .easy-to-use .w_content_wrap {
    width: calc(100% - 206px);
    padding-left: 20px;
  }
  .easy-to-use .w_content_wrap .w_desc {
    margin: 0;
  }
}
.feedback-block {
  font-size: 13px;
  padding-top: 10px;
}
.feedback-block .w_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px 0;
}
.feedback-block .w_thumb {
  width: 64px;
}
.feedback-block .w_desc {
  width: calc(100% - 64px);
  padding-left: 10px;
}
.feedback-block .level-2 {
  padding: 0 0 0 15px;
  margin-left: 10px;
  border-left: 2px solid #ddd;
}
.feedback-block .level-2 .w_thumb {
  width: 52px;
}
.feedback-block .level-2 .w_desc {
  width: calc(100% - 52px);
}
.feedback-block .level-2 + .level-2 {
  padding-top: 30px;
}
.feedback-block strong {
  color: #3B63C8;
}
@media (min-width: 992px) {
  .feedback-block {
    font-size: 16px;
    padding-left: 30px;
  }
  .feedback-block .level-2 {
    margin-left: 60px;
  }
}
.how-to-use .btn-primary,
.button-block .btn-primary {
  background-color: #9FEF22;
  border-radius: 4px;
  text-align: center;
  display: block;
  padding: 10px 20px 10px;
  margin-bottom: 5px;
  font-size: 26px;
  line-height: 1.1;
  color: black;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}
.how-to-use .btn-primary:after,
.button-block .btn-primary:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 10px;
  margin-top: -5px;
  background-color: #6DA515;
  border-radius: 0 0 4px 4px;
  z-index: -1;
}
.how-to-use .btn-primary span,
.button-block .btn-primary span {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .how-to-use .btn-primary,
  .button-block .btn-primary {
    padding: 20px 20px 14px;
    font-size: 32px;
  }
}
.button-block {
  overflow: hidden;
  padding-top: 50px;
}
.button-block .w_toptext {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.36363636;
  padding-bottom: 20px;
  margin-bottom: 22px;
  border-bottom: 1px solid #ddd;
}
.button-block .w_toptext a {
  color: #3B63C8;
  font-style: italic;
}
.button-block .w_thumb img {
  width: 175px;
}
.button-block .w_title {
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  line-height: 1.25;
  margin-bottom: 20px;
}
.button-block .w_title br {
  display: none;
}
@media (min-width: 768px) {
  .button-block .btn-primary {
    padding-left: 50px;
  }
  .button-block .btn-primary:before {
    content: "\ea34";
    font-family: icomoon;
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (min-width: 992px) {
  .button-block .w_toptext {
    font-size: 22px;
  }
  .button-block .w_thumb {
    float: right;
    width: 292px;
    padding-top: 15px;
  }
  .button-block .w_thumb img {
    width: auto;
  }
  .button-block .w_title {
    font-size: 28px;
    float: left;
    width: calc(100% - 292px);
    padding-right: 20px;
  }
  .button-block .w_desc {
    float: left;
    width: calc(100% - 292px);
    padding-right: 20px;
    clear: left;
  }
}
@media (min-width: 1200px) {
  .button-block .w_title br {
    display: inline;
  }
}
.blue-text {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 30px;
  clear: both;
}
.blue-text .title {
  color: #3B63C8;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 1.36363636;
}
@media (min-width: 992px) {
  .blue-text .title {
    font-size: 22px;
  }
}
.faq-block {
  background-color: #F2F2F2;
  padding: 40px 0 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.faq-block .w_main_title {
  line-height: 1;
  text-align: center;
  margin-bottom: 30px;
}
.faq-block .w_item {
  padding-left: 20px;
  padding-right: 20px;
}
.faq-block .w_item + .w_item {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}
.faq-block .w_toptext {
  font-size: 16px;
  line-height: 1.44444444;
  margin-bottom: 0;
  position: relative;
  padding-right: 35px;
}
.faq-block .w_toptext:after {
  content: "\f107";
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: icomoon;
  font-size: 30px;
  color: #999;
  line-height: 1;
  font-weight: normal;
}
.faq-block .active .w_toptext:after {
  content: "\f106";
}
.faq-block .w_desc {
  padding: 10px 20px 0;
}
.faq-block .w_desc p {
  font-size: 14px;
  line-height: 1.57142857;
}
.faq-block .w_desc a {
  text-decoration: underline;
}
@media (min-width: 992px) {
  .faq-block .w_main_title {
    font-size: 35px;
  }
  .faq-block .w_toptext {
    font-size: 18px;
    line-height: 1.66666667;
  }
}
.how-to-use {
  padding-top: 5px;
}
.how-to-use .w_main_title {
  color: #15378E;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22222222;
  margin-bottom: 15px;
}
.how-to-use .steps {
  margin-bottom: 25px;
}
.how-to-use .steps .w_desc p {
  font-size: 14px;
}
.how-to-use .steps .w_desc strong {
  display: inline-block;
  background-color: #eee;
  color: #15378E;
  padding: 4px 15px;
  font-weight: 500;
  border-radius: 3px;
  margin-bottom: 5px;
}
.how-to-use .btn-primary {
  font-size: 20px;
  margin-top: 20px;
}
.how-to-use .btn-primary:before {
  content: "\ea34";
  font-family: icomoon;
  font-size: 17px;
  padding-right: 5px;
}
