body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color: #0a0a0a;
}
main {
  padding: 25px 0;
}
@media (min-width: 768px) {
  .section-1 .container {
    padding: 0;
    background-color: #fff;
    border: 1px solid #e1e1e1;
  }
}
.w_indicator_steps {
  border-radius: 0;
  margin-top: 0;
  font-family: montserrat;
  line-height: 18px;
}
.w_indicator_steps .w_item {
  padding: 12px 10px;
  font-size: 14px;
  font-size: 0.933rem;
  text-transform: uppercase;
  font-weight: bold;
}
.w_indicator_steps .w_item:nth-child(2) {
  color: #fff;
  background-color: black;
}
@media (max-width: 767px) {
  .w_indicator_steps {
    max-width: 100%;
  }
  .w_indicator_steps .w_item {
    padding: 10px;
    font-size: 11px;
    line-height: 15px;
  }
  .w_indicator_steps .step-text {
    font-size: 9px;
  }
}
.heading-content {
  padding-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}
.heading-content h2 {
  font-weight: 600;
  font-size: 18px;
  color: #39b54a;
}
.heading-content p {
  font-size: 17px;
}
@media (min-width: 768px) {
  .heading-content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .heading-content h2 {
    font-size: 26px;
  }
  .heading-content p {
    font-size: 20px;
  }
}
.main-image {
  text-align: center;
}
@media (min-width: 768px) {
  .main-image {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .main-image {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.btn-no-thanks {
  margin: 50px 0 60px;
  text-align: center;
}
.btn-no-thanks a {
  font-size: 16px;
  color: #0000ee;
  text-decoration: underline;
  text-align: center;
}
@media (max-width: 575px) {
  .btn-no-thanks br {
    display: none;
  }
}
.currency-widget {
  margin-bottom: 40px;
}
.currency-widget p:last-child {
  margin-top: -5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.currency-widget p:last-child:before {
  top: 2px;
  content: "\f023";
  font: normal normal normal 16px/1 icomoon;
  margin-right: 8px;
  color: #ff9b00;
  position: relative;
}
.btn-upsell-order {
  margin: 20px auto;
  text-align: center;
}
.btn-upsell-order button {
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: inline-flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  font-weight: bold;
  position: relative;
  color: #FFFFFF;
  font-size: 15px;
  background: #1fba34;
  border-radius: 3px;
  font-style: italic;
  background-image: -webkit-linear-gradient(top, #599901 0%, #569401 50%, #569401 51%, #3d6703 100%) !important;
  -webkit-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
}
.btn-upsell-order button:hover {
  background-image: -webkit-linear-gradient(top, #3d6703 0%, #569401 50%, #569401 51%, #599901 100%) !important;
}
.btn-upsell-order button:before {
  content: "\f105";
  font-family: 'icomoon';
  font-size: 35px;
  margin-right: 10px;
  font-style: normal;
  font-weight: 100;
}
.btn-upsell-order button p {
  line-height: 1.4;
}
.btn-upsell-order button p > span {
  display: block;
}
.btn-upsell-order button p > span:last-child {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .btn-upsell-order {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .btn-upsell-order button {
    padding: 25px 25px 30px;
    font-size: 20px;
    min-width: 550px;
  }
  .btn-upsell-order button:before {
    margin-right: 25px;
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .btn-upsell-order button {
    width: 100%;
  }
}
@media (min-width: 768px) {
  footer {
    border: none;
  }
}
