case bodyClass
  when 'account-address'
    include address
  when 'account-bill'
    include bill
  when 'account-info'
    include info
  when 'account-order'
    include order
  when 'account-wishlist'
    include wishlist
