.detail-order
  .delivery-status
    p.order-id #[strong #1501132158] - Hoàn tất
    span.datetime 10:3 | 21/10/2015
  +address().no-border
  .grid.list-view.cart-view
    +link('product name', 'details.html').item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        .group
          p.color
            +img-upload('image-33','pro-600x600-0.jpg')
            | 1m2
          p.number
            | 2
            span x
            | 500.000 đ
    +link('product name', 'details.html').item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        .group
          p.color
            +img-upload('image-33','pro-600x600-0.jpg')
            | 1m2
          p.number
            | 2
            span x
            | 500.000 đ
  .order-total
    table.info-table
      tbody
        tr
          td Tạm tính
          td 1.000.000 đ
        tr
          td Phí vận chuyển
          td Miễn phí
        tr
          td Thuế VAT
          td 0 đ
        tr
          td Giảm trên đơn hàng
          td 100.000 đ
      tfoot
        tr
          td Tổng cộng
          td.pink 900.000 đ


