.account-wishlist
  .grid.list-view.cart-view
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small Hết hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small.green Còn hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small Hết hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small.green Còn hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small Hết hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small.green Còn hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small Hết hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small.green Còn hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small Hết hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay
    .item-product
      .tmb-img
        +img-upload('image-33','pro-600x600-0.jpg')
      .info
        p.title 12345 - Đại dương 3D danh cho be gai
        small.green Còn hàng
        p.price
          span.new-price 500.000 đ
          span.old-price 1.000.000 đ
      table.btn-group
        tr
          td: +button({}).btn-quaternary.full-width: i.icon-trash
          td: +button({}).btn-primary.full-width Thêm vào giỏ
          td: +button({}).btn-secondary.full-width Mua ngay