ul.list-color-temp.clearfix
  +color('@color01', '#fff')
  +color('@color02', '#f1f1f1')
  +color('@color03', '#ddd')
  +color('@color04', '#ccc')
  +color('@color05', '#c0c0c0')
  +color('@color06', '#bbb')
  +color('@color07', '#aaa')
  +color('@color08', '#999')
  +color('@color09', '#666')
  +color('@color10', '#333')
  +color('@color11', '#000')
  +color('@color12', '#1a1a1a')
  +color('@color13', '#4c4c4c')
  +color('@color14', '#262626')
  +color('@color15', '#3d3d3d')
  +color('@color16', '#0373ab')
  +color('@color17', '#565656')
  +color('@color18', '#454545')
  +color('@color19', '#4f4f4f')
  +color('@color20', '#3c3c3c')
  +color('@color21', '#5e5e5e')
  +color('@color22', '#2a2a2a')
  +color('@color23', '#3b3b3b')
