ul.list-color-temp.clearfix
  +color('@color01', '#fff')
  +color('@color02', '#f1f1f1')
  +color('@color03', '#ddd')
  +color('@color04', '#ccc')
  +color('@color05', '#c0c0c0')
  +color('@color06', '#bbb')
  +color('@color07', '#aaa')
  +color('@color08', '#999')
  +color('@color09', '#666')
  +color('@color10', '#333')
  +color('@color11', '#000')
  +color('@color12', '#535353')
  +color('@color13', '#242424')
  +color('@color14', '#5a5a5a')
  +color('@color15', '#7c7c7c')
  +color('@color16', '#373737')
  +color('@color17', '#ff82ae')
