section.detail-post
  .container
    .row
      .col-lg-8.col-md-9
        article
          .heading-wrap
            h1.heading-1 5 lợi ích khi dùng tinh chất vào quy trình dưỡng da mặt
            time 03/11/2016 7:00 PM
            .fb-like
              +img-upload('fb-like.png')
            .social-share
              +link('Facebook')
                i.ion-social-facebook
              +link('googleplus')
                i.ion-social-googleplus-outline
              +link('twitter')
                i.ion-social-twitter
              +link('email')
                i.ion-ios-email
          .relative
            .main-post
              .editor
                p: em Tinh chất luôn là một bước cần thiết để đem lại sự cải tiến rõ rệt cho công cuộc dưỡng da mặt của bạn. Da bạn sẽ đẹp hơn hẳn sau khi dùng tinh chất để dưỡng chuyên sâu.
                p Serum, hay còn gọi là tinh chất dưỡng da được xem là thành tựu của ngành công nghệ mỹ phẩm. Dựa trên những nghiên cứu khoa học và kỹ thuật tiên tiến, tinh chất là những sản phẩm dạng long chứ các hoạt chất sinh học cực nhỏ và đậm đặc (nhiều gấp 10 lần mĩ phẩm dạng kem) nên có thể dễ dàng hấp thụ vào da, thấm sâu vào các lớp biểu bì nuôi dưỡng da mặt từ bên trong.
                p Tinh chất (serum) như một loại thuốc đặc trị. Trên các quầy mỹ phẩm, bạn dễ dàng bắt gặp các loại tinh chất làm trắng da, làm mờ vết thâm nám, trị mụn hay chống lão hoá. Với những thành phần riêng biệt, bạn có thể phối hợp đúng cách để điều trị từng vấn đề về da trong quy trình dưỡng da mặt của mình.
                .grey-box
                  .thumb
                    +img-upload('img-14.jpg')
                  .content
                    h4 5 thành phần chống lão hóa da nên sử dụng trước tuổi 30
                    small Chống lão hóa da là một quá trình đòi hỏi sự kiên trì, nhẫn nại và đặc biệt là cần phải luôn duy trì thường xuyên như thói quen. 5 thành phần sau sẽ giúp bạn có duy trì làn da trẻ khoẻ. Tinh chất được xem như là thành phần “tinh tuý” của bất kì quy trình dưỡng da mặt nào.
                p Tinh chất được xem như là thành phần “tinh tuý” của bất kì quy trình dưỡng da mặt nào. Tuy nhiên đối với nhiều bạn gái, thói quen sử dụng tinh chất còn bị xem là hơi cầu kì và cảm thấy không cần thiết so với quy trình dưỡng da hằng ngày. Dưới đây là 5 lý do sẽ cho bạn thấy tinh chất có vai trò quan trọng như thế nào trong công cuộc cuộc dưỡng da của mọi cô gái:
                p: strong 1. Tinh chất thực sự hoạt động trên da của bạn
                p Khi sử dụng tinh chất, bạn sẽ cảm nhận được việc dưỡng da một cách tối ưu nhất. Đó là vì không cần đến bác sĩ da liễu nhưng bạn vẫn có thể tiếp nhận được hàm lượng lớn những dưỡng chất đặc biệt hoạt động trên da trong serum. Và trên hết, nghiên cứu da liễu cho thấy kem dưỡng chỉ chứa được khoảng 5 – 10% các dưỡng chất trong khi tinh chất có thể bao gồm lên đến 70%. Điều này bảo đảm rằng bạn thực sự sẽ thu lại được kết quả dưỡng da khi sử dụng tinh chất.
                p.text-center
                  +img-upload('img-15.jpg')
                  br
                  em Bộ 3 tinh chất
                p: strong 2. Bảo đảm sự tinh khiết
                p Nếu bạn có làn da nhạy cảm hoặc dễ bị dị ứng với thành phần trong mỹ phẩm, việc sử dụng serum sẽ giảm tối thiểu khả năng đó cho bạn. Đó là vì serum được thiết kế đặc biệt để vận chuyển các dưỡng chất, kích thích các tế bào hoạt động cho quá trình dưỡng da. Mục tiêu của các nhà nghiên cứu là tích hợp được những thành phần tinh tuý như peptide, công nghệ tế bào gốc, vitamin và các khoáng chất có lợi vào serum để cung cấp sự hoạt động mạnh mẽ vào sâu tận 3 lớp biểu bì. Vì vậy, trong tinh chất hoàn toàn không thể chứa dầu khoáng, các thành phần tẩy rửa và có hại cho da. Nếu có, dĩ nhiên rằng toàn bộ nghiên cứu khoá học sẽ bị phá vỡ.
              .read-more-box
                h5 Xem thêm
                ul
                  li: +link('6 mỹ phẩm dưỡng da sang chảnh được khao khát trên thế giới')
                  li: +link('8 sản phẩm dưỡng da làm chậm bánh xe lão hóa')
                  li: +link('Bí quyết dưỡng da thông minh từ chuyên viên ngành thẩm mỹ học')
              .fb-comment
                +img-upload('img-comment.jpg')
            .related-post
              h3 Bài viết liên quan
              ul
                li: +link('4 cách làm đẹp da mặt từ thiên nhiên')
                li: +link('4 cách làm đẹp da mặt từ thiên nhiên')
                li: +link('4 cách làm đẹp da mặt từ thiên nhiên')
                li: +link('4 cách làm đẹp da mặt từ thiên nhiên')
      .col-lg-4.col-md-3
        aside
          h2.heading-1 Bài viết quan tâm
          .like-post
            .item
              .thumb
                +link()
                  +img-upload('img-6.jpg')
              .content
                +link()
                  span.order 01
                  h3 22 thương hiệu thời trang Việt được yêu thích nhất hiện nay
            .item
              .thumb
                +link()
                  +img-upload('img-6.jpg')
              .content
                +link()
                  span.order 02
                  h3 22 thương hiệu thời trang Việt được yêu thích nhất hiện nay
            .item
              .thumb
                +link()
                  +img-upload('img-6.jpg')
              .content
                +link()
                  span.order 03
                  h3 22 thương hiệu thời trang Việt được yêu thích nhất hiện nay
            .item
              .thumb
                +link()
                  +img-upload('img-6.jpg')
              .content
                +link()
                  span.order 04
                  h3 22 thương hiệu thời trang Việt được yêu thích nhất hiện nay
            .item
              .thumb
                +link()
                  +img-upload('img-6.jpg')
              .content
                +link()
                  span.order 05
                  h3 22 thương hiệu thời trang Việt được yêu thích nhất hiện nay
          .img-box
            +link()
              +img-upload('img-11.jpg')
