section.ingredient-block.bgd-light-grey
  .container
    h2.heading-2: span Nguyên liệu làm đẹp
    .row
      .col-sm-4
        .ingredient
          .thumb
            +img-upload('img-10.jpg')
          .content
            h4.title Cát quế hương
            ul.ingredient-list
              li - Thúc Lĩnh Lincoln: Như mạch nguồn trở về
              li - Nước hoa nam: Cơ bản và kinh điển (p.2)
              li - Hà Nhật Tiến: "Cái tôi" của The Statement...
      .col-sm-4
        .ingredient
          .thumb
            +img-upload('img-10.jpg')
          .content
            h4.title Cát quế hương
            ul.ingredient-list
              li - Thúc Lĩnh Lincoln: Như mạch nguồn trở về
              li - Nước hoa nam: Cơ bản và kinh điển (p.2)
              li - Hà Nhật Tiến: "Cái tôi" của The Statement...
      .col-sm-4
        .ingredient
          .thumb
            +img-upload('img-10.jpg')
          .content
            h4.title Cát quế hương
            ul.ingredient-list
              li - Thúc Lĩnh Lincoln: Như mạch nguồn trở về
              li - Nước hoa nam: Cơ bản và kinh điển (p.2)
              li - Hà Nhật Tiến: "Cái tôi" của The Statement...
