section.post-block.three-column
  .container
    h2.heading-2: span Bí quyết làm đẹp
    .row
      .col-sm-4.col-xs-6.column
        +post-item('img-2.jpg', 'Phong cách thời trang Thu-Đông trên thảm đỏ của sao Việt', '28/11/2016 6:14 PM', 'Tối 25/11, sự kiện thời trang Tuần lễ Nhà thiết kế thời trang Việt Nam Thu–Đông 2016 (VDFW 2016) đã diễn ra tại TPHCM. Các ngôi sao và fashionista có phong cách thời trang cực chất đã có mặt tại thảm đó của sự kiện này.')
      .col-sm-4.col-xs-6.column
        +post-item('img-2.jpg', 'Phong cách thời trang Thu-Đông trên thảm đỏ của sao Việt', '28/11/2016 6:14 PM', 'Tối 25/11, sự kiện thời trang Tuần lễ')
      .col-sm-4.col-xs-6.column
        +post-item('img-2.jpg', 'Phong cách thời trang Thu-Đông trên thảm đỏ của sao Việt', '28/11/2016 6:14 PM', 'Tối 25/11, sự kiện thời trang Tuần lễ Nhà thiết kế thời trang Việt Nam Thu–Đông 2016 (VDFW 2016) đã diễn ra tại TPHCM. Các ngôi sao và fashionista có phong cách thời trang cực chất đã có mặt tại thảm đó của sự kiện này.')
