section.post-block
  .container
    h2.heading-2: span Chống lão hoá da
    .row.relative
      .col-lg-8.col-md-7.custom-col
        .big-post(style="background-image: url(images/upload/img-3.jpg)")
          .thumb
            +link()
              +img-upload('img-3.jpg')
          .content
            h3.title
              +link('Rạng danh 9 sắc đẹp Việt trên đấu trường “Hoa Hậu” quốc tế')
            p.postmeta 29/11/2016 7:00 AM - PT Thu Phương
      .col-lg-4.col-md-5.col-xs-12.pull-right
        +post-item('img-4.jpg', 'Mai Phương Thuý (Top 17 cuộc thi Hoa hậu Thế giới 2006)', '28/11/2016 6:14 PM', 'Tối 25/11, sự kiện thời trang Tuần lễ Nhà thiết kế thời trang Việt Nam Thu–Đông 2016 (VDFW 2016) đã diễn ra tại TPHCM. Các ngôi sao và fashionista có phong cách thời trang cực chất đã có mặt tại thảm đó của sự kiện này.').list-view
        +post-item('img-4.jpg', 'Mai Phương Thuý (Top 17 cuộc thi Hoa hậu Thế giới 2006)', '28/11/2016 6:14 PM', 'Tối 25/11, sự kiện thời trang Tuần lễ').list-view
        +post-item('img-4.jpg', 'Mai Phương Thuý (Top 17 cuộc thi Hoa hậu Thế giới 2006)', '28/11/2016 6:14 PM', 'Tối 25/11, sự kiện thời trang Tuần lễ Nhà thiết kế thời trang Việt Nam Thu–Đông 2016 (VDFW 2016) đã diễn ra tại TPHCM. Các ngôi sao và fashionista có phong cách thời trang cực chất đã có mặt tại thảm đó của sự kiện này.').list-view
        +post-item('img-4.jpg', 'Mai Phương Thuý (Top 17 cuộc thi Hoa hậu Thế giới 2006)', '28/11/2016 6:14 PM', 'Tối 25/11, sự kiện thời trang Tuần lễ Nhà thiết kế thời trang Việt Nam Thu–Đông 2016 (VDFW 2016) đã diễn ra tại TPHCM. Các ngôi sao và fashionista có phong cách thời trang cực chất đã có mặt tại thảm đó của sự kiện này.').list-view
