extends ../layouts/layout

block vars
  -title = 'Avisory'
  -bodyClass = 'avisory'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block main
  main
    section.question-block
      .container
        .wow.fadeInRight.animated(data-wow-duration="1s")
          include ../modules/search-box
        .advisory-box.wow.fadeInLeft.animated(data-wow-duration="1s")
          h1.title-2 Tôi ĐANG dùng NOBEL có tác dụng tốt nhưng có vài thắc mắc xin tư vấn thêm.
          .meta.orange-text 19 - 11 - 2016 | 136 trả lời | 1360 xem
          .desc
            p Mình năm nay 25 tuổi, cách đây khoảng 2 năm sau khoảng thời gian căng thẳng mình bị mọc mụn cho tới giờ. Mụn của mình mụn bọc , da dầu, giờ lại có mụn cám và mụn đầu đen, cũng có đi chữa tại bệnh viện da liễu nhưng không thấy khỏi. Mụn ở lưng và ngực thỉnh thoảng mọc tương đối nhiều, mình dùng sữa tắm Tây Thi thấy khỏi nhanh (chắc khoảng sau gần 1 tháng), mình nghĩ da mình hợp với sản phẩm của Sao Thái Dương định dùng luôn sữa tắm cho mặt nhưng lại sợ da mặt tính chất nhạy cảm hơn da cơ thể , cần loại chuyên dụng riêng nên không dám dùng. Vậy mình có mấy câu hỏi muốn nhờ Sao Thái Dương tư vấn giúp . Mình năm nay 25 tuổi, cách đây khoảng 2 năm sau khoảng thời gian căng thẳng mình bị mọc mụn cho tới giờ. Mụn của mình mụn bọc , da dầu, giờ lại có mụn cám và mụn đầu đen, cũng có đi chữa tại bệnh viện da liễu nhưng không thấy khỏi. Mụn ở lưng và ngực thỉnh thoảng mọc tương đối nhiều, mình dùng sữa tắm Tây Thi thấy khỏi nhanh (chắc khoảng sau gần 1 tháng), mình nghĩ da mình hợp với sản phẩm của Sao Thái Dương định dùng luôn sữa tắm cho mặt nhưng lại sợ da mặt tính chất nhạy cảm hơn da cơ thể , cần loại chuyên dụng riêng nên không dám dùng. Vậy mình có mấy câu hỏi muốn nhờ Sao Thái Dương tư vấn giúp. Mình năm nay 25 tuổi, cách đây khoảng 2 năm sau khoảng thời gian căng thẳng mình bị mọc mụn cho tới giờ. Mụn của mình mụn bọc , da dầu, giờ lại có mụn cám và mụn đầu đen, cũng có đi chữa tại bệnh viện da liễu nhưng không thấy khỏi. Mụn ở lưng và ngực thỉnh thoảng mọc tương đối nhiều, mình dùng sữa tắm Tây Thi thấy khỏi nhanh (chắc khoảng sau gần 1 tháng), mình nghĩ da mình hợp với sản phẩm của Sao Thái Dương định dùng luôn sữa tắm cho mặt nhưng lại sợ da mặt tính chất nhạy cảm hơn da cơ thể , cần loại chuyên dụng riêng nên không dám dùng. Vậy mình có mấy câu hỏi muốn nhờ Sao Thái Dương tư vấn giúp
        h2.title.wow.fadeInRight.animated(data-wow-duration="1s") Gửi bình luận
        .wow.fadeInRight.animated(data-wow-duration="1s")
          include ../modules/questionFrm
