extends ../layouts/layout

block vars
  -title = 'daily'
  -bodyClass = 'daily'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block main
  main
    section.hero-banner
      +img-upload('banner-1.jpg')
    section.map-block
      .container
        .row
          .col-md-7.col-lg-8
            #gmap
              +img-upload('img-19.png', 'alt')(style="width: 100%;")
          .col-md-5.col-lg-4
            .find-agency
              +button({id: 'findBtn'}).button.btn-tertiary.expanded.title Tìm đại lý gần nhất
              +form({id: 'form_id'})
                fieldset: +input({id: 'input_1', placeholder: 'Tỉnh / thành phố'})
                fieldset: +input({id: 'input_2', placeholder: 'Quận / huyện'})
                fieldset: +input({id: 'input_3', placeholder: 'Phường / xã'})
                fieldset
                  address
                    strong CÔNG TY CỔ PHẦN SAO THÁI DƯƠNG
                    | C3/9 Ấp 4, Xã Bình Hưng, Huyện Bình Chánh, TP. HCM, Xã Bình Hưng, Huyện Bình Chánh, Hồ Chí Minh
                  address
                    strong CÔNG TY CỔ PHẦN SAO THÁI DƯƠNG
                    | C3/9 Ấp 4, Xã Bình Hưng, Huyện Bình Chánh, TP. HCM, Xã Bình Hưng, Huyện Bình Chánh, Hồ Chí Minh
    section.daily-block.home-contact
      .container
        h2.title Thông tin liên hệ
        .content
          address.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".5s")
            | Liên hệ với chúng tôi qua số #[strong HOTLINE : 04. 36444. 219]
            br
            | Địa chỉ : 92 Vĩnh Hưng, Hoàng Mai, Hà Nội.
            br
            | Điện thoại tư vấn : 043. 6444. 646 - 3. 6462. 740 - 3.6462. 741
            br
            | Email : hotro@thaiduong.com.vn
          +form({id: 'contactFrm'}).wow.fadeInUp.animated(data-wow-duration="1s" data-wow-delay=".6s")
            fieldset: +input({id: 'fullname', placeholder: 'Họ và tên:'})
            fieldset: +input({id: 'email', placeholder: 'Email:', type: 'email'})
            fieldset: +input({id: 'address', placeholder: 'Địa chỉ:'})
            fieldset: +textarea('message', 'Nội dung:')
            +button({id: 'sendBtn'}).button.small.btn-secondary Gửi
