extends ../layouts/layout

block vars
  -title = 'Detail page'
  -bodyClass = 'detail-page'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block main
  main
    include ../modules/main-info
    include ../modules/detail-block
