extends ../layouts/layout

block vars
  -title = 'Category'
  -bodyClass = 'category-page'
  -mainNav = 0
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block main
  main
    include ../modules/hero-image
    include ../modules/category-page
