section.block-post
  .container
    .thumb.wow.fadeInLeft.animated(data-wow-duration="1s")
      +img-upload('img-1.png', 'alt')
    .content.wow.fadeInRight.animated(data-wow-duration="1s")
      .heading
        h3 Viên tiểu đường
        h2 NOBEL
      p Viên tiểu đường Nobel là sản phẩm của công ty cổ phần Sao Thái Dương. Viên tiểu đường Nobel có tác dụng hạ đường huyết, giảm các nguy cơ biến chứng của bệnh tiểu đường, bảo vệ chức năng gan một cách tốt nhất.
      p: +link('XEM CHI TIẾT', 'href').button.btn-primary.radius
