section.detail-block
  .container
    h2.title Thông tin sản phẩm
    ul.tabs
      li.active: +link('Giới thiệu')
      li: +link('Thông tin sản phẩm')
      li: +link('Bài viết liên quan')
      li: +link('Video')
    .tab-container
      .row.three-img
        .col-xs-12.col-sm-4: +img-upload('img-36.png', 'alt')
        .col-xs-12.col-sm-4: +img-upload('img-37.png', 'alt')
        .col-xs-12.col-sm-4: +img-upload('img-38.png', 'alt')
      p Nhịp sống hiện đại khiến bàn tay luôn làm việc và tiếp xúc với nắng gió, hóa chất, các chất tẩy rửa: xà phòng, dầu gội đầu, nước rửa chén, bát...Da tay bởi vậy dễ bị khô, mất nước, thiếu dinh dưỡng nội sinh (từ các chất nhờn tự nhiên) gây ra khô, nhăn da tay, á sừng, bong tróc da tay.
      p Sản phẩm Búp Ngọc phối hợp công thức siêu giữ ẩm (Vaselin, Glycerin, PEG-75-Lanolin, ...) với chiết xuất nghệ và Vitamin E chống lão hóa da tay, dưỡng da và giữ độ ẩm cần thiết cho da tay. Tay bạn sẽ trẻ trung hơn, tự tin hơn và hấp dẫn hơn.
      p Nhịp sống hiện đại khiến bàn tay luôn làm việc và tiếp xúc với nắng gió, hóa chất, các chất tẩy rửa: xà phòng, dầu gội đầu, nước rửa chén, bát...Da tay bởi vậy dễ bị khô, mất nước, thiếu dinh dưỡng nội sinh (từ các chất nhờn tự nhiên) gây ra khô, nhăn da tay, á sừng, bong tróc da tay.
      p Sản phẩm Búp Ngọc phối hợp công thức siêu giữ ẩm (Vaselin, Glycerin, PEG-75-Lanolin, ...) với chiết xuất nghệ và Vitamin E chống lão hóa da tay, dưỡng da và giữ độ ẩm cần thiết cho da tay. Tay bạn sẽ trẻ trung hơn, tự tin hơn và hấp dẫn hơn.
