section.feedback-block
  .container
    +title-1('3', 'Cảm nhận khách hàng')
    .content
      .row.no-gutter
        .col-sm-6.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".5s")
          .thumb
            +img-upload('img-14.png', 'alt')
        .col-sm-6.wow.fadeInRight.animated(data-wow-duration="1s" data-wow-delay=".5s")
          span.name Bác Nguyễn Mạnh Cường
          em 60t, Hà Nội
          .desc
            p Bệnh nguy hiểm nhưng phần lớn có thể phòng được.Do vậy người dân cần nắm được thông tin về bệnh, khi xác định có nguy cơ cao thì phải đi làm xét nghiệm phát sớm để quản lý điều trị kịp thời.Đặc biệt quan trọng là thực hiện lối sống lành mạnh:bỏ hút thuốc, ăn uống hợp lý, duy trì cân nặng hợp lý, giảm đường, giảm muối, không uống rượu bia ở mức gây hại, hoạt động thể lực. Nếu chỉ số đường huyết của bạn là đo khi nhịn đói 8 tiếng là 6.4mmol/l, thì điều đó cho thấy bạn đang đứng bên thềm của bệnh tiểu đường, được gọi là giai đoạn tiền tiểu đường, tên khác là rối loạn dung nạp glucose. Ở giai đoạn này, các dấu hiệu cảnh báo chưa rõ ràng,
    ul.customer-list
      li.wow.fadeInUp.animated(data-wow-duration="1s" data-wow-delay=".5s")
        figure
          +img-upload('img-15.png', 'alt')
          figcaption
            span.name Bác Nguyễn Mạnh Cường
            span.age 60t, Hà Nội
      li.wow.fadeInUp.animated(data-wow-duration="1s" data-wow-delay=".6s")
        figure
          +img-upload('img-15.png', 'alt')
          figcaption
            span.name Bác Nguyễn Mạnh Cường
            span.age 60t, Hà Nội
      li.wow.fadeInUp.animated(data-wow-duration="1s" data-wow-delay=".5s")
        figure
          +img-upload('img-15.png', 'alt')
          figcaption
            span.name Bác Nguyễn Mạnh Cường
            span.age 60t, Hà Nội
      li.wow.fadeInUp.animated(data-wow-duration="1s" data-wow-delay=".7s")
        figure
          +img-upload('img-15.png', 'alt')
          figcaption
            span.name Bác Nguyễn Mạnh Cường
            span.age 60t, Hà Nội
