section.ingredient-block
	.container
		+title-1('2', 'Thành phần')
		ul.list-ingredient
			li.item
					.thumb.wow.zoomIn.animated(data-wow-duration="1s")
						+img('transparent.png')(style="background-image:url(images/upload/img-5.png)")
					.desc
						p.wow.fadeInLeft.animated(data-wow-duration="1s") Chiết xuất cây Mật gấu Miền Nam (Vernonia amygdalina Extract) 450g
			li.item
					.thumb.wow.zoomIn.animated(data-wow-duration="1s")
						+img('transparent.png')(style="background-image:url(images/upload/img-6.png)")
					.desc
						p.fadeInLeft.animated(data-wow-duration="1s") Chiết xuất Cà gai leo (Solanum hainanense extract) 230mg
			li.item.item-even
					.thumb.wow.zoomIn.animated(data-wow-duration="1s")
						+img('transparent.png')(style="background-image:url(images/upload/img-7.png)")
					.desc
						p.fadeInRight.animated(data-wow-duration="1s") Xuyên tâm liên (Andrographis paniculata extract) 5g
			li.item.item-even
					.thumb.wow.zoomIn.animated(data-wow-duration="1s")
						+img('transparent.png')(style="background-image:url(images/upload/img-8.png)")
					.desc
						p.fadeInRight.animated(data-wow-duration="1s") Cao đậu tương lên men (Nattokinase) 20g
		.wrap
			.desc.wow.fadeInLeft.animated(data-wow-duration="1s") Phụ liệu bao gồm: Canxi carbonat, tinh bột sắn natri benzoate, Talc, Magnesi stearate) vừa đủ 1 viên nang cứng.
			.thumb.wow.fadeInRight.animated(data-wow-duration="1s")
				+img-upload('img-9.png', 'alt')
