section.mechanism-block
	.container
		+title-1('1', 'Cơ chế tác dụng')
		.row.no-gutter
			.col-md-6.col-left
				.desc.pusher-bottom.wow.fadeInLeft.animated(data-wow-duration="1s")
					p Viên tiểu đường NOBEL giúp tăng hoạt tính của Insulin, tăng nhạy cảm của các tế bào với Insulin, đồng thời phục hồi dần chức năng tụy, từ đó cải thiện khả năng sản sinh Insulin của tụy giúp kiếm soát đường huyết.
				.thumb.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".6s")
					+img-upload('img-3.png', 'alt')
				.desc.wow.fadeInLeft.animated(data-wow-duration="1s" data-wow-delay=".6s")
					p Ngoài ra viên tiểu đường Nobel còn có tác dụng:
						br
						| Hoạt huyết thông mạch, tan huyết khối. Giúp phòng ngừa và hỗ trợ điều trị các biến chứng tiểu đường: hoại tử chi, mờ mù mắt, suy gan thận, tai biến mạch máu não, giảm cholesterol....
			.col-md-6.col-right
				.thumb.wow.fadeInRight.animated(data-wow-duration="1s" data-wow-delay=".3s")
					+img-upload('img-2.png', 'alt')
				.desc.wow.fadeInRight.animated(data-wow-duration="1s" data-wow-delay=".6s")
					p Đặc biệt viên tiểu đường Nobel không gây tụt đường huyết ở người bình thường. Ở những bệnh nhân tiểu đường, viên tiểu đường Nobel hiệu quả trong kiểm soát đường huyết, nhưng không gây tụt đường huyết quá mức như các thuốc tân dược. Khi phối hợp với Insulin hoặc các thuốc tân dược có tác dụng kích thích tụy tăng sản sinh Insulin như Glibenclamide, Glimepiride, .... lưu ý,có thể gặp hiện tượng tụt đường huyết quá mức.
				.thumb.wow.fadeInRight.animated(data-wow-duration="1s" data-wow-delay=".6s")
					+img-upload('img-4.png', 'alt')

