section.pathological-block
	.container
		.heading
			h3 Viên tiểu đường
			h2 NOBEL
		ul.list-nobel.wow.fadeInUp.animated(data-wow-duration="1s" data-wow-delay=".5s")
			li
				.thumb
					+img-upload('img-8.png', 'alt')
				.content
					h2 Hạ đường huyết
			li
				.thumb
					+img-upload('img-8.png', 'alt')
				.content
					h2 Phòng ngừa biến chứng tiểu đường
			li
				.thumb
					+img-upload('img-8.png', 'alt')
				.content
					h2 Giảm cholesterol
