.editor
	p: +img-upload('blog-detail-1.png')
	p
		+img-upload('blog-detail-2.png')
		br
		| We're excited to release our new chic stripe collection with so many styling options for your pregnancy. When the top and skirt are worn together it gives the illusion of wearing a dress - wear the skirt over the top or under. The Jenina Top is also a nursing top with a cropped top layer that you simply lift up to feed discreetly.
	p
		+img-upload('blog-detail-3.png')
		br
		| The Haidee Skirt is made of a beautiful soft fabric and the jersey waistband can be worn over the belly for more support or folded under-bump. Extend your pregnancy wardrobe further and wear the skirt with a white shirt for work or a soft cream jumper for weekends. The stylish Jenina top also looks great with jeans or trousers for work.
	p
		+img-upload('blog-detail-4.png')
		br
		| What we love about the Haidee Skirt is that you can wear it lower under the bump so it falls past your knees transforming the look into an instant midi-dress.
	h2 heading h2
	h3 heading h3
	h4 heading h4
	h5 heading h5
	h6 heading h6
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, numquam.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eaque facere a quas itaque sint omnis libero dignissimos aliquid aut? Quae nisi nobis modi harum.
	ul
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, vero. #[a(href="#" title="title") Click here]
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore saepe vitae nihil ullam quod doloribus ex ratione omnis laudantium facilis.
	ol
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, vero. #[a(href="#" title="title") Click here]
		li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore saepe vitae nihil ullam quod doloribus ex ratione omnis laudantium facilis.
	p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut eum, cum velit ratione vero temporibus, quia unde voluptas quas enim, nemo explicabo, reprehenderit provident ducimus hic doloremque tenetur repudiandae voluptatem!
	p.text-right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla perspiciatis odio eius, tempore dolor voluptate illum nam ipsum unde deserunt exercitationem harum quod incidunt fugiat ab sint accusamus itaque blanditiis.
	p: em Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, eveniet.
	p: strong Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, eveniet.
	p: i Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, eveniet.
	p: b Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, eveniet.
