.col-md-6.left-block
	.thumb.text-center
		+img-upload('gift.png')
	.voucher-box
		i.icon-mail-box
		.editor
			strong.text-uppercase Vouchers sent by post
			ul
				li You will be emailed a tracking number when the voucher
				li If the order is received after 2pm then it will be processed the next business day
				li No shipping charges apply to gift vouchers purchased alone
	.voucher-box
		i.icon-email
		.editor
			strong.text-uppercase Vouchers sent by post
			ul
				li If the order is received after 2pm then it will be emailed the next business day
				li Although if you require the voucher to be emailed urgently please specify this in the special instructions and we will do our best to accommodate your request (even on Xmas day!)
				li It is a requirement of the checkout process that a "shipping address" is provided when placing an order. If you have selected to email a gift voucher it will be emailed and will not be physically delivered to the specified "shipping address".
	.warning-box
		i.icon-warning
		em Vouchers are not redeemable for cash and are not refundable, no promotional codes or discounts valid with gift vouchers
