.slider.hexa-slider(data-cslider='{"type": "hexaSlide", "initUnder": 992}')
	span.flower.hidden-md-down.flower-1: img(src="images/flower-medium-left.png", alt="")
	span.flower.hidden-md-down.flower-2: img(src="images/flower-small-02.png", alt="")
	span.flower.hidden-md-down.flower-3: img(src="images/flower-medium-right.png", alt="")
	span.flower.hidden-md-down.flower-4: img(src="images/flower-small-01.png", alt="")
	.slick
		.item: +hexa('hexa-2.png', 'Bra', 'Nursing')
		.item: +hexa('hexa-1.png', 'Bra', 'Nursing')
		.item.black-state: +hexa('hexa-4.png', 'Bra', 'Nursing')
		.item.black-state: +hexa('hexa-3.png', 'Bra', 'Nursing')
		.item.black-state: +hexa('hexa-5.png', 'Bra', 'Nursing')
		.item: +hexa('hexa-7.png', 'Bra', 'Nursing')
		.item: +hexa('hexa-6.png', 'Bra', 'Nursing')
	span.load
