.store-block
	h1
		span.flower-small-01: img(src="images/flower-small-01.png", alt="")
		| Australia’s leading online maternity clothing & nursing wear boutique.
	.desc
		p We stock a beautiful range of designer maternity clothing for all occasions, from swimwear and jeans to formal wear and everything in between. Boasting over 60 local and international labels, Queen Bee is the go-to destination when you want to buy everything you need to see you through your pregnancy and breastfeeding. Our Maternity Style Blog offers tips on health and wellbeing, celebrity pregnancy news, and style and lifestyle ideas to encourage and inspire you.
		p Dressing prenant ladies since May 2005 - enjoy a stylish pregnancy
	ul.list
		li: a(href="#" title="")
			.cell: i.icon-shipping
			.cell
				.text
					| Free Express Shipping
					span for Australian orders over $60
		li.hidden-sm-down: a(href="#" title="")
			.cell: i.icon-return
			.cell
				.text
					| Easy Returns
					span 21 day returns
		li.hidden-sm-down: a(href="#" title="")
			.cell: i.icon-lock
			.cell
				.text
					| Same day Dispatch
					span orders placed before 2pm on a business day
