.brand-block.module-block
	.heading
		h2 Our Brands
		p Shop for stylish maternity clothes online in Australia with a trendy international collection of the best pregnancy wear fashion brands
	.slider.brand-slider(data-cslider='{"type": "brand"}')
		.slick
			.item: a(href="#" title="title of Client"): +img-upload('logo-1.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-2.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-3.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-4.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-5.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-6.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-7.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-8.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-1.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-2.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-3.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-4.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-5.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-6.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-7.png').img-view
			.item: a(href="#" title="title of Client"): +img-upload('logo-8.png').img-view
		span.load
	+link('title', 'href').button.btn-primary.shop-all
		span
			span
				| Shop All Brand
				i.icon-angle-right

