.instagram-block
	ul.list-instagram
		li: .item: img(src="images/upload/intro_03.jpg", alt="")
		li: .item: img(src="images/upload/intro_05.jpg", alt="")
		li: .item: img(src="images/upload/intro_07.jpg", alt="")
		li: .item: img(src="images/upload/intro_09.jpg", alt="")
		li.hidden-sm-down: .item: img(src="images/upload/intro_11.jpg", alt="")
		li.hidden-sm-down: .item: img(src="images/upload/intro_24.jpg", alt="")
		li.hidden-sm-down: .item: img(src="images/upload/intro_15.jpg", alt="")
		li.hidden-sm-down: .item: img(src="images/upload/intro_21.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_22.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_23.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_24.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_25.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_31.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_32.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_33.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_34.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_35.jpg", alt="")
		li.hidden-sm-down.hidden-md-down: .item: img(src="images/upload/intro_35.jpg", alt="")
	.mask
		.wrap
			.vertical
				.content
					h2.title Follow Us on Instagram
					a(href="https://www.instagram.com/" title="") @queenbeematernity
