.shop-our-block.module-block
	.heading
		h2 Shop our Latest Arrivals
	.slider.carousel-slider(data-cslider='{"type": "carousel", "setPositionArrows": true}')
		.slick
			include global/global-carousel
		span.load
