.total-reviews
	span Overall:
	span.rating: span.stars.stars-4
	span 4.6 from 86 reviews
ul.list-reviews
	li
		.group-reviews
			span.rating: span.stars.stars-5
			span Iam 8 months pregnant
			span purchased size 8 pre-pregnancy size 8
		p.desc ery pretty print and such a soft and comfortable material! Fit perfectly with generous room for my tummy.
	li
		.group-reviews
			span.rating: span.stars.stars-3
			span Iam 8 months pregnant
			span purchased size 8 pre-pregnancy size 8
		p.desc Sadly I had to return this dress because it didn't fit. It was very roomy in the arms and body but too small in the bust (I am F cup) so the under bust seam kept riding up to halfway up my boobs. A shame because it's a lovely fabric and style. Rebecca
	li
		.group-reviews
			span.rating: span.stars.stars-2
			span Iam 8 months pregnant
			span purchased size 8 pre-pregnancy size 8
		p.desc ery pretty print and such a soft and comfortable material! Fit perfectly with generous room for my tummy.
	li
		.group-reviews
			span.rating: span.stars.stars-1
			span Iam 8 months pregnant
			span purchased size 8 pre-pregnancy size 8
		p.desc Sadly I had to return this dress because it didn't fit. It was very roomy in the arms and body but too small in the bust (I am F cup) so the under bust seam kept riding up to halfway up my boobs. A shame because it's a lovely fabric and style. Rebecca
	li
		.group-reviews
			span.rating: span.stars.stars-5
			span Iam 8 months pregnant
			span purchased size 8 pre-pregnancy size 8
		p.desc ery pretty print and such a soft and comfortable material! Fit perfectly with generous room for my tummy.
	li
		.group-reviews
			span.rating: span.stars.stars-3
			span Iam 8 months pregnant
			span purchased size 8 pre-pregnancy size 8
		p.desc Sadly I had to return this dress because it didn't fit. It was very roomy in the arms and body but too small in the bust (I am F cup) so the under bust seam kept riding up to halfway up my boobs. A shame because it's a lovely fabric and style. Rebecca
	li
		.group-reviews
			span.rating: span.stars.stars-4
			span Iam 8 months pregnant
			span purchased size 8 pre-pregnancy size 8
		p.desc ery pretty print and such a soft and comfortable material! Fit perfectly with generous room for my tummy.
	li
		.group-reviews
			span.rating: span.stars.stars-4
			span Iam 8 months pregnant
			span purchased size 8 pre-pregnancy size 8
		p.desc Sadly I had to return this dress because it didn't fit. It was very roomy in the arms and body but too small in the bust (I am F cup) so the under bust seam kept riding up to halfway up my boobs. A shame because it's a lovely fabric and style. Rebecca
