.faq-block
	.head
		h3 Maternity Leggings
		p An absolute pregnancy essential are maternity leggings. As your pregnancy progresses and your dresses become tunics, leggings are a saviour.
	h2 FAQ about Maternity Leggings
	ul.faqs
		li
			h4 Which maternity leggings are not see-through?
			p We recommend leggings in thicker fabrics like ponte, fleece or the skirted leggings if you want to wear short tops with your leggings.
		li
			h4 What is seamless fabric?
			p Seamless fabric is like a thick hosiery fabric. This allows for a great fit and comfort as there is no side seam.
		li
			h4 Which maternity leggings are best for winter?
			p Seamless fabric is like a thick hosiery fabric. This allows for a great fit and comfort as there is no side seam.
		li
			h4 Do you have pregnancy compression leggings?
			p Yes we do have gradient compression leggings from the Preggers brand
		li
			h4 Are the compression leggings see-through?
			p These are a hosiery fabric and do become sheer when stretched. They also have a hosiery style flat seam centre front and back so is best worn with tunics and dresses.
		li
			h4 Which maternity leggings are the most popular?
			p By far our best selling leggings are the Trimester oasis leggings. These are a cotton/spandex blend made in a trans-seasonal weight jersey fabric with a a great fit.
		li
			h4 Are over belly or under bump maternity leggings more comfortable?
			p It really depends on your personal preference. If you don't like any pressure on your belly then the under bump style is for you. Some people like the over belly styles to hide when the belly button pops. In general, under bump styles are more popular, especially in summer, and the over belly styles become more popular in winter.
