ul.list-color-temp.clearfix
  +color('@color01', '#fff')
  +color('@color02', '#f1f1f1')
  +color('@color03', '#ddd')
  +color('@color04', '#ccc')
  +color('@color05', '#c0c0c0')
  +color('@color06', '#bbb')
  +color('@color07', '#aaa')
  +color('@color08', '#999')
  +color('@color09', '#666')
  +color('@color10', '#333')
  +color('@color11', '#000')
  +color('@color12', '#a92611')
  +color('@color13', '#e98106')
  +color('@color14', '#222222')
  +color('@color15', '#4f4f4f')
  +color('@color16', '#e70727')
  +color('@color17', '#303030')
  +color('@color18', '#ebebeb')
