table.tb-temp
  thead
    tr
      th: strong Font Family
      th: strong View
  tbody
    tr(data-handler="")
      td: code(data-copy=".OpenSans();") .OpenSans(); - Font Default
      td: p.OpenSans Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").light .light();
      td: p.OpenSans.light Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").lightItalic .lightItalic();
      td: p.OpenSans.lightItalic Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").bold .bold();
      td: p.OpenSans.bold Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").UTMDaxline .UTMDaxline();
      td: p.UTMDaxline Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").UTMDaxlineBold .UTMDaxlineBold();
      td: p.UTMDaxlineBold Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").UTMFuturaExtra .UTMFuturaExtra();
      td: p.UTMFuturaExtra Lorem ipsum dolor sit amet.
