+checkbox({'name': 'nu', 'text': 'Nu'}).normal-cb
+checkbox({'name': 'nam', 'text': 'Mam'}).normal-cb
+button({'id': 'login_btn', 'type': 'submit'}).btn-secondary.full-width Đăng ký

<button id="btn_fb" name="btn_fb" type="button" class="btn-fb"><i class="icon-fb"></i>Đăng ký bằng Facebook</button>
