table.tb-temp
  thead
    tr
      th: strong Font Family
      th: strong View
  tbody
    tr(data-handler="")
      td: code(data-copy="") .lato();
      td: p.lato Lato light - Font base
    tr(data-handler="")
      td: code(data-copy="").black .black();
      td: p.lato.black Black - Just for Lato font
    tr(data-handler="")
      td: code(data-copy="") .OpenSans(); - Font Default
      td: p.OpenSans Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").light .light();
      td: p.OpenSans.light Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").regular .regular();
      td: p.OpenSans.regular Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").semiBold .semiBold();
      td: p.OpenSans.semiBold Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").bold .bold();
      td: p.OpenSans.bold Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="").boldItalic .boldItalic();
      td: p.OpenSans.boldItalic Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code #[span(data-copy="") .UTMBebas();]
      td: p.UTMBebas Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code #[span(data-copy="") .UTMFlavour();]
      td: p.UTMFlavour Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code #[span(data-copy="") .UTMViceroyJF();]
      td: p.UTMViceroyJF Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code #[span(data-copy="") .sans-serif();]
      td: p.sans-serif Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="") .serif();
      td: p.serif Lorem ipsum dolor sit amet.
    tr(data-handler="")
      td: code(data-copy="") .monospace();
      td: p.monospace Lorem ipsum dolor sit amet.
