section.banner-01-block(style="background-image: url(images/upload/banner-1.jpg)")
	.container
		.wrap
			h2.heading-2 Ho có phải là triệu chứng của bệnh?
			p Ho là một phản xạ để tống ra ngoài các chất tiết, dị vật, vi sinh vật... có ở đường hô hấp (hô hấp trên và hô hấp dưới) do đó ho cũng có thể coi như một cơ chế bảo vệ bộ máy hô hấp. Ho không phải là một bệnh mà là một triệu chứng của nhiều bệnh.
			h3.heading-2.title Các loại ho hiện nay
			ul.list-disease
				li.item.wow.bounceInUp(data-wow-delay="0.2s")
					figure
						+img('transparent.png')(style="background-image: url(images/upload/img-19.jpg)")
						figcaption: span Ho gió
				li.item.wow.bounceInUp(data-wow-delay="0.4s")
					figure
						+img('transparent.png')(style="background-image: url(images/upload/img-20.jpg)")
						figcaption: span Ho thay đổi thời tiết
				li.item.wow.bounceInUp(data-wow-delay="0.6s")
					figure
						+img('transparent.png')(style="background-image: url(images/upload/img-21.jpg)")
						figcaption: span Ho khan
				li.item.wow.bounceInUp(data-wow-delay="0.8s")
					figure
						+img('transparent.png')(style="background-image: url(images/upload/img-22.jpg)")
						figcaption: span Ho kéo dài
				li.item.wow.bounceInUp(data-wow-delay="1s")
					figure
						+img('transparent.png')(style="background-image: url(images/upload/img-23.jpg)")
						figcaption: span Ho có đờm

