.breadcrumb-wrap
	.container
		ul.breadcrumbs
			li: +link()
						i.ion-ios-home
						| Trang chủ
			li.slash /
			li: +link()
						| Bí quyết 
			li.slash /
			li.active Mắt vẫn mờ sau 1 tháng điều trị