.categories
	h2.heading-1 Bệnh thường gặp
	ul.cat-list
		li: +link('ổng quan bệnh viêm xoang mũi ')
		li: +link('Bệnh viêm mũi mãn tính')
		li: +link('Bệnh viêm xoang cấp')
		li: +link('Bệnh viêm mũi trẻ em')
		li: +link('Bệnh viêm họng mãn tính')
		li: +link('Bệnh viêm đa xoang mãn tính')
		li: +link('ổng quan bệnh viêm xoang mũi')
		li: +link('ổng quan bệnh viêm xoang mũi')
		li: +link('Bệnh viêm mũi mãn tính')
		li: +link('Bệnh viêm xoang cấp')
		li: +link('Bệnh viêm mũi trẻ em')
		li: +link('Bệnh viêm họng mãn tính')
		li: +link('Bệnh viêm đa xoang mãn tính')
		li: +link('ổng quan bệnh viêm xoang mũi')
