.confidential
	h2.heading-1 Bí quyết hay
	ul
		li
			+link('').thumb
				+img-upload('img-7.jpg')
			+link('Huyết áp bao nhiêu là bình thường?  Huyết áp thấp có tổn hại đến sức khỏe hay không').link
		li
			+link('').thumb
				+img-upload('img-8.jpg')
			+link('Đường huyết là gì? Tăng giảm đường huyết có nguy hiểm không?').link
		li
			+link('').thumb
				+img-upload('img-6.jpg')
			+link('Bệnh cao huyết áp là gì? Thế nào là tăng huyết áp').link
		li
			+link('').thumb
				+img-upload('img-7.jpg')
			+link('Làm sao biết huyết áp thấp? Chữa trị và phòng bệnh thế nào?').link
