.row.featured
	.col-md-8.col-lg-9.article.clearfix
		.thumb.wow.fadeInLeft.animated(data-wow-duration=".9s")
			+link()
				+img-upload('img-10.jpg')
		.content.wow.fadeInRight.animated(data-wow-duration=".9s")
			h2.heading-1
				+link('Huyết Áp Thấp Ở Bà Bầu Và Bí Quyết Giúp Mẹ Cải Thiện')
			.post-meta
				span Ngày đăng
				span 17/10/2016.
			.desc
				p Rất nhiều phụ nữ mắc phải chứng huyết áp thấp trong thời gian mang thai, đặc biệt là giai đoạn 3 tháng đầu tiên và 3 tháng giữa thai kỳ. Vì đang mang thai nên mẹ bầu không được sử dụng thuốc. Nhưng các mẹ đừng quá lo lắng, mẹ bầu có thể cải thiện chỉ số huyết áp của mình bằng cách thay đổi thói quen ăn uống và thói quen sinh hoạt của mình. Cùng Philips Avent tìm hiểu đó là những thói quan nào nhé.
			.view-more
				a(href="") Xem thêm &gt;&gt;
	.col-md-4.col-lg-3.posts-list
		ul.tabs.wow.fadeInUp.animated(data-wow-duration=".9s")
			li
				.thumb
					+link()
						+img-upload('img-11.jpg')
				.content
					h2.title: +link('Mối quan hệ giữa huyết áp và đau đầu.')
					p Huyết áp là áp lực máu cần thiết tác động lên thành động mạch nhằm đưa máu đến nuôi dưỡng
			li
				.thumb
					+link()
						+img-upload('img-11.jpg')
				.content
					h2.title: +link('Mối quan hệ giữa huyết áp và đau đầu.')
					p Huyết áp là áp lực máu cần thiết tác động lên thành động mạch nhằm đưa máu đến nuôi dưỡng
			li
				.thumb
					+link()
						+img-upload('img-11.jpg')
				.content
					h2.title: +link('Mối quan hệ giữa huyết áp và đau đầu.')
					p Huyết áp là áp lực máu cần thiết tác động lên thành động mạch nhằm đưa máu đến nuôi dưỡng
