.page-content
	ul.portfolio-list
		li.wow.zoomIn.animated
			.thumb
				+link()
					+img-upload('img-9.jpg')
			.content
				h2.title: +link('Huyết áp thấp và thiếu máu não')
				.date
					span Thứ hai,
					span 15-08-2016
				p Có khi nào đột nhiên bạn cảm thấy chóng mặt, choáng váng, mặt mũi tối sầm,… đặc biệt là những lúc đứng lên ngồi xuống hoặc sau khi mới thức dậy? Nếu có thì rất có thể bạn đang gặp phải một tình trạng được gọi là tụt huyết áp
		li.wow.zoomIn.animated
			.thumb
				+link()
					+img-upload('img-12.jpg')
			.content
				h2.title: +link('Biểu hiện và nguyên nhân của tụt huyết áp')
				.date
					span Thứ hai,
					span 15-08-2016
				p Huyết áp tụt thì lưu lượng tuần hoàn trong cơ thể cũng sẽ giảm theo, lúc này tim, não, thận… sẽ bị thiếu hụt nghiêm trọng oxy và chất dinh dưỡng để duy trì hoạt động bình thường
		li.wow.zoomIn.animated
			.thumb
				+link()
					+img-upload('img-13.jpg')
			.content
				h2.title: +link('Huyết áp thấp – nguyên nhân và triệu chứng thường gặp')
				.date
					span Thứ hai,
					span 15-08-2016
				p Dưới áp lực của cuộc sống hiện đại, huyết áp thấp trở thành căn bệnh đe dọa trực tiếp tới sức khỏe của tất cả mọi người. Huyết áp thấp hay tụt huyết áp xảy ra khi chỉ số huyết áp dưới 90/60mmHg kèm theo các triệu chứng hoa mắt, chóng mặt, thậm chí ngất xỉu. Điều này có nghĩa là tim, não và các bộ phận khác của cơ thể không nhận đủ lượng máu cần thiết để nuôi dưỡng chúng.
		li.wow.zoomIn.animated
			.thumb
				+link()
					+img-upload('img-14.jpg')
			.content
				h2.title: +link('Huyết áp thấp biến chứng nguy hiểm và cách phòng ngừa')
				.date
					span Thứ hai,
					span 15-08-2016
				p Huyết áp là áp suất trong máu tác dụng lên thành động mạch nhằm đưa máu đi nuôi dưỡng các tế bào trong cơ thể, mỗi khi tim đập là lúc huyết áp cao nhất và gọi là huyết áp tâm thu. Khi tim nghỉ, khoảng thời gian giữa 2 lần tim đập thì huyết áp giảm đi, đó là huyết áp tâm trương
		li.wow.zoomIn.animated
			.thumb
				+link()
					+img-upload('img-15.jpg')
			.content
				h2.title: +link('Những thành phần quý từ tự nhiên tốt cho thiếu máu não')
				.date
					span Thứ hai,
					span 15-08-2016
				p Được mệnh danh là căn bệnh của thời đại, thiếu máu não đang từng ngày, từng giờ bào mòn sức khỏe của rất nhiều người . Bệnh xuất hiện khi lượng máu tới não bị suy giảm làm cho các tế bào thần kinh bị tổn thương do thiếu hụt oxy...
		li.wow.zoomIn.animated
			.thumb
				+link()
					+img-upload('img-16.jpg')
			.content
				h2.title: +link('Nhức đầu, hoa mắt, chóng mặt - những biểu hiện cần quan tâm')
				.date
					span Thứ hai,
					span 15-08-2016
				p rong cuộc sống hàng ngày rất nhiều người mắc các triệu chứng như  đau đầu, chóng mặt, mất ngủ, giảm trí nhớ, mất tinh thần, hầu hết mọi người đều cho rằng đây là bệnh lý của người có tuổi, chẳng có vấn đề gì to tát cả
	.view-more.text-center
		+link('View more').button.btn-primary.text-uppercase
