.box-option
	h2.title-option Nổi bật
		i.icon-down
	.list-option
		.checkbox
			input(type="checkbox", id="check-0", checked="checked")
			label(for="check-0")
				| Khuyến mãi
				span.count
					| (
					span 123
					| )
		.checkbox
			input(type="checkbox", id="check-1")
			label(for="check-1")
				| Hàng mới về
				span.count
					| (
					span 123
					| )
	h2.title-option Khoảng giá
		i.icon-down
	ul.list-option
		.checkbox
			input(type="checkbox", id="check-2")
			label(for="check-2")
				| Khuyến mãi
				span.count
					| (
					span 123
					| )
		.checkbox
			input(type="checkbox", id="check-3")
			label(for="check-3")
				| Hàng mới về
				span.count
					| (
					span 123
					| )
		.checkbox
			input(type="checkbox", id="check-4")
			label(for="check-4")
				| Hàng mới về
				span.count
					| (
					span 123
					| )
		.checkbox
			input(type="checkbox", id="check-5")
			label(for="check-5")
				| Hàng mới về
				span.count
					| (
					span 123
					| )
	h2.title-option Màu sắc
		i.icon-down
	.list-color(data-scroll="")
		+link('Be', '#')
		+link('Xám', '#')
		+link('Đèn Xanh', '#')
		+link('màu đỏ tía', '#')
		+link('Be', '#')
		+link('Xám', '#')
		+link('Đèn Xanh', '#')
		+link('màu đỏ tía', '#')
		+link('Be', '#')
		+link('Xám', '#')
		+link('Đèn Xanh', '#')
		+link('màu đỏ tía', '#')
		+link('Be', '#')
		+link('Xám', '#')
		+link('Đèn Xanh', '#')
		+link('màu đỏ tía', '#')
		+link('Be', '#')
		+link('Xám', '#')
		+link('Đèn Xanh', '#')
		+link('màu đỏ tía', '#')
		+link('Be', '#')
		+link('Xám', '#')
		+link('Đèn Xanh', '#')
		+link('màu đỏ tía', '#')
		+link('Be', '#')
		+link('Xám', '#')
		+link('Đèn Xanh', '#')
		+link('màu đỏ tía', '#')
		+link('Be', '#')
		+link('Xám', '#')
		+link('Đèn Xanh', '#')
		+link('màu đỏ tía', '#')
