p.cate-title
  i.icon-hamburger
  span Danh mục
.categories
  ul.dropdown-vertical(data-menuaim="", data-expand="")
      +items([
        {
          title: 'Giấy decal cuộn',
          href: '#',
          submenuid: 'sub1',
          subClass: 'sub-menu',
          subList: [
            {title: 'Giấy decal cuộn', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal 3D', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'}
          ]
        },
        {
          title: 'Decal dán tường',
          href: '#',
          submenuid: 'sub2',
          subClass: 'sub-menu',
          subList: [
            {title: 'Decal dán tường', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal 3D', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'}
          ]
        },
        {
          title: 'Khung ảnh, kệ gỗ',
          href: '#',
          submenuid: 'sub3',
          subClass: 'sub-menu',
          subList: [
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal 3D', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'}
          ]
        },
        {
          title: 'Decal chủ đề và bảng chữ',
          href: '#',
          submenuid: 'sub4',
          subClass: 'sub-menu',
          subList: [
            {title: 'Decal chủ đề và bảng chữ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal 3D', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'}
          ]
        },
        {
          title: 'Xốp đá dán tường',
          href: '#',
          submenuid: 'sub5',
          subClass: 'sub-menu',
          subList: [
            {title: 'Xốp đá dán tường', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal 3D', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'}
          ]
        },
        {
          title: 'Giấy decal cuộn',
          href: '#',
          submenuid: 'sub6',
          subClass: 'sub-menu',
          subList: [
            {title: 'Giấy decal cuộn', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal 3D', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'}
          ]
        },
        {
          title: 'Decal chủ đề và bảng chữ',
          href: '#',
          submenuid: 'sub7',
          subClass: 'sub-menu',
          subList: [
            {title: 'Decal chủ đề và bảng chữ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal 3D', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Decal chân tường', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'},
            {title: 'Decal chủ đề và bảng chữ ', href: '#'},
            {title: 'Khung ảnh, kệ gỗ', href: '#'},
            {title: 'Decal dán phòng khách, phòng ngủ', href: '#'}
          ]
        }
      ])
  p.btn-more
    +link('Xem thêm', '#')
