.cate-box
	h2.title Decal dán tường
	ul.list-cate
		li.active
			+link('Decal dán tường', '#', 'Decal dán tường')
				span.count
					| (
					span 7
					| )
		li
			+link('FTX Decal dán trần nhà', '#', 'FTX Decal dán trần nhà')
				span.count
					| (
					span 123
					| )
		li
			+link('Decal dán tường', '#', 'Decal dán tường')
				span.count
					| (
					span 7
					| )
		li
			+link('FTX Decal dán trần nhà', '#', 'FTX Decal dán trần nhà')
				span.count
					| (
					span 123
					| )
		li
			+link('Decal dán tường', '#', 'Decal dán tường')
				span.count
					| (
					span 7
					| )
		li
			+link('FTX Decal dán trần nhà', '#', 'FTX Decal dán trần nhà')
				span.count
					| (
					span 123
					| )
		li
			+link('Decal dán tường', '#', 'Decal dán tường')
				span.count
					| (
					span 7
					| )
		li
			+link('FTX Decal dán trần nhà', '#', 'FTX Decal dán trần nhà')
				span.count
					| (
					span 123
					| )
		li
			+link('Decal dán tường', '#', 'Decal dán tường')
				span.count
					| (
					span 7
					| )
		li
			+link('FTX Decal dán trần nhà', '#', 'FTX Decal dán trần nhà')
				span.count
					| (
					span 123
					| )
		li
			+link('Decal dán tường', '#', 'Decal dán tường')
				span.count
					| (
					span 7
					| )
