.grid
  .heading
    h2.title
      +link('Tin Tức', '#', 'Tin Tức')
    +link('Xem tất cả', '#', 'Xem tất cả').view-all
      i.icon-triangle-right
  .row.new-list
    .col-sm-6
      .row.item
        .col-sm-4.col-xs-2
          .thumbnail
            +link('Đại dương 3D').tmb-img
              +img-upload('photo_127','photo_127.jpg')
            span.day 16
            span.month
              strong Tháng 3
              | 2015
        .col-sm-7.col-xs-9.content
          h2.title: +link('Tráng miệng với món thạch cam dẻo mát')
          p Cam là loại quả nhiều vitamin, có khả năng tăng sức đề kháng, nâng cao hệ miễn dịch
    .col-sm-6
      .row.item
        .col-sm-4.col-xs-2
          .thumbnail
            +link('Đại dương 3D').tmb-img
              +img-upload('photo_129','photo_129.jpg')
            span.day 16
            span.month
              strong Tháng 3
              | 2015
        .col-sm-7.col-xs-9.content
          h2.title: +link('Tráng miệng với món thạch cam dẻo mát')
          p Cam là loại quả nhiều vitamin, có khả năng tăng sức đề kháng, nâng cao hệ miễn dịch

