.slide-block
  .slick-wrap(data-slider='{"type": "single"}')
    .item: +link('images', '#'): +img-upload('images', 'slide-1.jpg').img-view
    .item: +link('images', '#'): +img-upload('images', 'slide-1.jpg').img-view
    .item: +link('images', '#'): +img-upload('images', 'slide-1.jpg').img-view
    .item: +link('images', '#'): +img-upload('images', 'slide-1.jpg').img-view
  .icon-loader
