section.category
  .container
    +heading-2('Tin nổi bật')
    .inner
      .row
        .col-sm-6
          .row
            .col-xs-6
              +item-cate()
            .col-xs-6
              +item-cate()
        .col-sm-6
          .row
            .col-xs-6
              +item-cate()
            .col-xs-6
              +item-cate()
      .row
        .col-sm-6
          .row
            .col-xs-6
              +item-cate()
            .col-xs-6
              +item-cate()
        .col-sm-6
          .row
            .col-xs-6
              +item-cate()
            .col-xs-6
              +item-cate()
      p.text-center: +link('Xem tiếp', '#!').button.btn-primary.radius