section.fully-img
  .slider.single-slider(data-cslider='{"type": "single"}')
    .slick
      .item
        +img-upload('banner-0.jpg').img-view
      .item
        +img-upload('banner-0.jpg').img-view
      .item
        +img-upload('banner-0.jpg').img-view
    span.load