section.category.related-news
  .container
    +heading-2('Tin nổi bật')
    .inner.slider
      .row
        .col-xs-6.col-md-3
          +item-cate()
        .col-xs-6.col-md-3
          +item-cate()
        .col-xs-6.col-md-3
          +item-cate()
        .col-xs-6.col-md-3
          +item-cate()
      .group-control
        .btn-next
          i.icon-arrow-left
        .btn-prev
          i.icon-arrow-right
