extends layouts/sitemap

block main
	+rowTitle('Guide')
	+rowContentList([
		{
		name: 'Style Guide',
		link: 'temp-style-guide.html',
			progress: '100'
		}
	])
	+rowTitle('Pages')
	+rowContentList([
		{
			name: 'Index',
			link: 'index.html',
			progress: '100'
		},
		{
			name: 'Product Listing All',
			link: 'products-listing-all.html',
			progress: '100'
		},
		{
			name: 'Product Listing',
			link: 'products-listing.html',
			progress: '100'
		},
		{
			name: 'Product Detail',
			link: 'product-detail.html',
			progress: '100'
		},
		{
			name: 'Inthemedia',
			link: 'inthemedia-page.html',
			progress: '100'
		},
		{
			name: 'Celebrities',
			link: 'celebrities.html',
			progress: '100'
		},
		{
			name: 'gift',
			link: 'gift.html',
			progress: '100'
		},
		{
			name: 'blog-landing',
			link: 'blog-landing.html',
			progress: '100'
		},
		{
			name: 'blog-detail',
			link: 'blog-detail.html',
			progress: '100'
		},
		{
			name: 'Blog Category',
			link: 'blog-category.html',
			progress: '100'
		},
		{
			name: 'About',
			link: 'about.html',
			progress: '100'
		},
		{
			name: 'Testimonials',
			link: 'testimonials.html',
			progress: '100'
		},
		{
			name: 'Designer',
			link: 'designer.html',
			progress: '100'
		},
		{
			name: 'Affiliate',
			link: 'affiliate.html',
			progress: '100'
		}
	])
