section.section.bgd-silver
  .row.margin-bottom-30
    .col-xs-6.text-right
      p
        span .position();
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : absolute;
      p
        span.red top
        span : 0;
      p
        span.red right
        span : 0;
      p
        span.red bottom
        span : 0;
      p
        span.red left
        span : 0
  .row
    .col-xs-6.text-right
      p
        span .position(static);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : static;
section.section
  .row.margin-bottom-30
    .col-xs-6.text-right
      p
        span .position(1px);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : absolute;
        span.green  //- Default
      p
        span.red top
        span : 1px;
      p
        span.red right
        span : 1px;
      p
        span.red bottom
        span : 1px;
      p
        span.red left
        span : 1px;
  .row
    .col-xs-6.text-right
      p
        span .position(static, 1px);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : static;
      p
        span.red top
        span : 1px;
      p
        span.red right
        span : 1px;
      p
        span.red bottom
        span : 1px;
      p
        span.red left
        span : 1px;
section.section.bgd-silver
  .row.margin-bottom-30
    .col-xs-6.text-right
      p
        span .position(1px 2px);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : absolute;
        span.green  //- Default
      p
        span.red top
        span : 1px;
      p
        span.red right
        span : 2px;
  .row
    .col-xs-6.text-right
      p
        span .position(static, 1px 2px);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : static;
      p
        span.red top
        span : 1px;
      p
        span.red right
        span : 2px;
section.section
  .row.margin-bottom-30
    .col-xs-6.text-right
      p
        span .position(1px null);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : absolute;
        span.green  //- Default
      p
        span.red top
        span : 1px;
  .row
    .col-xs-6.text-right
      p
        span .position(static, 1px null);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : static;
      p
        span.red top
        span : 1px;
section.section.bgd-silver
  .row.margin-bottom-30
    .col-xs-6.text-right
      p
        span .position(1px null 3px 4px);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : absolute;
        span.green  //- Default
      p
        span.red top
        span : 1px;
      p
        span.red bottom
        span : 3px;
      p
        span.red left
        span : 4px;
  .row
    .col-xs-6.text-right
      p
        span .position(static, 1px null 3px 4px);
        span.red  ==&gt;
    .col-xs-6
      p
        span.red position
        span : static;
      p
        span.red top
        span : 1px;
      p
        span.red bottom
        span : 3px;
      p
        span.red left
        span : 4px
