extends ../layouts/layout

block vars
  -title = 'Accout wishlist'
  -bodyClass = 'account-wishlist'
  -footer = 2

block head
  +mainHeading('Sản phẩm yêu thích')

block container
  main
    include ../modules/account/master
