extends ../layouts/layout

block vars
  -title = 'Accout Address'
  -bodyClass = 'account-address'
  -footer = 2

block head
  +mainHeading('Địa chỉ giao hàng')

block container
  main
    include ../modules/account/master
