extends ../layouts/layout

block vars
  -title = 'details-info'
  -bodyClass = 'details-info'
  -footer = 2
  -comment = 1

block head
  .main-title Mã: 123456789

block container
  main
    include ../modules/details/details-info
