extends ../layouts/layout

block vars
  -title = 'sale-with-page'
  -bodyClass = 'sale-with-page'

block head
  .main-title Mã: 123456789

block container
  main
    include ../modules/salewith/master