extends ../layouts/sitemap

block container
  +rowTitle('Template')
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Style Guide',
    link: 'style-guide.html'
  })
  +rowTitle('Pages')
  +rowContent({
    class: 'template',
    no: 1,
    psd: 'Index',
    link: 'index.html'
  })
  +rowContent({
    class: 'template',
    no: 1.1,
    psd: 'Index - Loged',
    link: 'index-loged.html'
  })
  +rowContent({
    class: 'template',
    no: 2,
    psd: 'Categories Main',
    link: 'categories.html'
  })
  +rowContent({
    class: 'template',
    no: 3,
    psd: 'Details',
    link: 'details.html'
  })
  +rowContent({
    class: 'template',
    no: 4,
    psd: 'details-info',
    link: 'details-info.html'
  })
  +rowContent({
    class: 'template',
    no: 5,
    psd: 'feedback',
    link: 'feedback.html'
  })
  +rowContent({
    class: 'template',
    no: 6,
    psd: 'salewith',
    link: 'salewith.html'
  })
  +rowContent({
    class: 'template',
    no: 7,
    psd: 'Cart',
    link: 'cart.html'
  })
  +rowContent({
    class: 'template',
    no: 8,
    psd: 'cart-empty',
    link: 'cart-empty.html'
  })
  +rowContent({
    class: 'template',
    no: 9,
    psd: 'Sign in',
    link: 'signIn.html'
  })
  +rowContent({
    class: 'template',
    no: 10,
    psd: 'Forgot Password',
    link: 'signIn-forgot-pass.html'
  })
  +rowContent({
    class: 'template',
    no: 11,
    psd: 'Register',
    link: 'signIn-register.html'
  })
  +rowContent({
    class: 'template',
    no: 12,
    psd: 'Account List Bill',
    link: 'account-bill.html'
  })
  +rowContent({
    class: 'template',
    no: 13,
    psd: 'Accout - Order Details',
    link: 'account-order.html'
  })
  +rowContent({
    class: 'template',
    no: 14,
    psd: 'Account - Address',
    link: 'account-address.html'
  })
  +rowContent({
    class: 'template',
    no: 15,
    psd: 'Account - Info User',
    link: 'account-info.html'
  })
  +rowContent({
    class: 'template',
    no: 16,
    psd: 'Account - Wish list',
    link: 'account-wishlist.html'
  })
  +rowContent({
    class: 'template',
    no: 17,
    psd: 'Checkout Login',
    link: 'checkout-login.html'
  })
  +rowContent({
    class: 'template',
    no: 18,
    psd: 'Checkout Address New User',
    link: 'checkout-address-new-user.html'
  })
  +rowContent({
    class: 'template',
    no: 19-0,
    psd: 'Checkout Address',
    link: 'checkout-address-0.html'
  })
  +rowContent({
    class: 'template',
    no: 19,
    psd: 'Checkout Address',
    link: 'checkout-address.html'
  })
  +rowContent({
    class: 'template',
    no: 20,
    psd: 'Checkout Transport',
    link: 'checkout-transport.html'
  })
  +rowContent({
    class: 'template',
    no: 21,
    psd: 'Checkout Pay',
    link: 'checkout-pay.html'
  })
  +rowContent({
    class: 'template',
    no: 22,
    psd: 'Checkout Success',
    link: 'checkout-success.html'
  })
  +rowContent({
    class: 'template',
    no: 23,
    psd: 'Search no Result',
    link: 'search-no-result.html'
  })
  //- +rowContent({
  //-   class: 'template',
  //-   no: 24,
  //-   psd: 'Check order',
  //-   link: 'check-order.html'
  //- })
