section.banner-02-block
	.container
		.diseases
			.item.wow.zoomIn.animated(data-wow-delay="0.2s")
				figure
					+img-upload('img-4.png')
			.item.wow.zoomIn.animated.animated(data-wow-delay="0.4s")
				span.arrow.arrow-2: +img('arrow-2.png')
				figure
					+img-upload('img-2.png')
				figcaption hành tỏi
			.item.wow.zoomIn.animated(data-wow-delay="0.6s")
				span.arrow: +img('arrow.png')
				figure
					+img-upload('img-2.png')
				figcaption thức ăn
			.item.wow.zoomIn.animated(data-wow-delay=".8s")
				span.arrow: +img('arrow.png')
				figure
					+img-upload('img-2.png')
				figcaption Riệu bia
			.item.wow.zoomIn.animated(data-wow-delay="1s")
				span.arrow: +img('arrow.png')
				figure
					+img-upload('img-2.png')
				figcaption Đồ tanh hải sản
			.item.wow.zoomIn.animated(data-wow-delay="1.2s")
				span.arrow: +img('arrow.png')
				figure
					+img-upload('img-2.png')
				figcaption Bệnh về miệng
			.item.wow.zoomIn.animated(data-wow-delay="1.4s")
				span.arrow.arrow-2: +img('arrow-2.png')
				figure
					+img-upload('img-2.png')
				figcaption Thuốc lá

