section.news-block
	.item.wow.bounceInUp(data-wow-delay=".2s")
		.thumb
			+link()
				+img-upload('img-1.jpg')
		.content
			h2.title
				+link('Các bệnh về đường hô hấp')
			p Viêm phế quản cấp tính, bệnh phổi nghẽn mãn tính, suyễn và dị ứng… gây ho kéo dài.
	.item.wow.bounceInUp(data-wow-delay=".4s")
		.thumb
			+link()
				+img-upload('img-2.jpg')
		.content
			h2.title
				+link('Ô nhiễm không khí')
			p Viêm phế quản cấp tính, bệnh phổi nghẽn mãn tính, suyễn và dị ứng… gây ho kéo dài.
	.item.wow.bounceInUp(data-wow-delay=".6s")
		.thumb
			+link()
				+img-upload('img-1.jpg')
		.content
			h2.title
				+link('Các nhiễm khuẩn về đường hô hấp khác')
			p Viêm phế quản cấp tính, bệnh phổi nghẽn mãn tính, suyễn và dị ứng… gây ho kéo dài.
	.item.wow.bounceInUp(data-wow-delay=".8s")
		.thumb
			+link()
				+img-upload('img-2.jpg')
		.content
			h2.title
				+link('Thay đôi thời tiết')
			p Viêm phế quản cấp tính, bệnh phổi nghẽn mãn tính, suyễn và dị ứng… gây ho kéo dài.

