.block-post.post-detail
  .content
    h1.heading 12 cách yoga đánh thức vị nữ thần trong bạn
    .meta
      .meta-date
        span.text Ngày đăng:
        span 23 - 12 - 2016 -
      .meta-author
        span.text Bởi
        span: +link('Admin')
    .entry
      h2.title Mỗi Yogini (nữ tập Yoga) đều biết rằng ẩn sâu bên trong mình luôn ngự trị 1 vị nữ thần. Chúng ta thường nhanh chóng quên đi sức mạnh tiềm ẩn bên trong này. Yoga không chỉ là những tư thế và hay bài tập Chào mặt trời. Đây là một cách rèn luyện quyền năng và tinh tế có thể giúp bạn thay đổi cách nhìn về thế giới. Yoga còn là một phương pháp giúp ta quay về bản chất thật với một sức mạnh toàn vẹn nhất.
      p Sau đây là 12 cách Yoga giúp đánh thức vị nữ thần vốn luôn ngự trị bên trong  bạn.
      strong 1 - Tự tin
      p Khi bạn nhìn vào một nữ thần, bạn thấy sức mạnh của sự tự tin tỏa sáng. Chính ánh nhìn trong đôi mắt ấy nhắc bạn nhớ rằng sức mạnh này vẫn luôn tiếp diễn. Những tư thế mở rộng lồng ngực như Rắn hổ mang, Chiến binh 1, 2, hoặc Tam giác mang đến một nguồn năng lượng tương tự, nhắc ta nhớ rằng trên đời này mọi việc dù khó khăn đều có thể vượt qua tốt.
      strong 2 - Đẹp rạng ngời
      p Giữa vô vàn hỗn độn, yoga vẫn khiến bạn luôn đẹp rạng ngời. Thậm chí trong những ngày bộn bề nhất, chuỗi
      p.text-center: +img-upload('img-4.jpg')
      strong 3 - Không danh hiệu
      p Yoga giúp bạn đi sâu vào phần thánh thiện và không thay đổi của chúng ta. Phần tâm hồn luôn luôn đẹp, tự tin bất kể là thế giới đang nói gì về bạn. Không danh hiệu, không phán xét – chỉ vẻ đẹp rạng ngời bên trong mà thôi.
      strong 4 - Luôn tươi mới
      p Khi bạn hoàn tất bài tập và tuôn chảy mồ hôi, bạn đi ra ngoài với 1 thần thái tươi mới, 1 góc nhìn hoàn toàn yêu đời, tích cực, và bạn cũng cảm nhận tốt hơn về cơ thể của mình. Việc tiết mồ hôi giúp bạn thanh lọc thân tâm, trông tươi mới từ trong ra ngoài và đây là phần thưởng xứng đáng bạn có được.
      strong 5 - Để trái tim hát
      p Bạn có bao giờ hát trong lúc rửa chén bát, hát du dương trong lúc đang tắm. Yoga là lý do đằng sau đó. Cảm giác yêu đời thôi thúc bạn phải ca lên, nhảy múa lên chính là lúc vị nữ thần bên trong bạn muốn thể hiện với thế giới này
      strong 6 - Mạnh mẽ
      p Những nữ thần thì mạnh mẽ. Yoga giúp bạn mạnh mẽ cả về tinh thần lẫn thể chất. Với sức mạnh này, bạn không thể bị đánh bại trước thử thách cuộc sống. Cảm giác này đến với bạn trên thảm tập khi lần đầu tiên bạn thực hiện thành công 1 tư thế thách thức như tư thế đầu đứng hoặc bò cạp. Một khi bạn đạt được 1 điều gì mà bạn khao khát, bạn biết nó xảy ra bởi vì bạn đã dũng cảm vượt qua giới hạn của chính mình.
      p.text-center: +img-upload('img-5.jpg')
  .cmt-block
    +img-upload('img-fb.jpg')

