section.usage-block
	.container
		h2.heading-2.text-center Điều trị - phòng ngừa hôi miệng
		.wrap
			.thumb(style="background-image:url(images/upload/img-3.jpg)")
				+img-upload('img-3.jpg').hidden-md-up
			.content
				ul.list-style
					li
						span.number
							span 1
						span.text.wow.bounceInRight(data-wow-delay="0.2s") Uống nhiều nước - Ăn củ cải đường
					li
						span.number
							span 2
						span.text.wow.bounceInRight(data-wow-delay="0.3s") Chế độ ăn uống lành mạnh - Ăn mặn hơn người bình thường
					li
						span.number
							span 3
						span.text.wow.bounceInRight(data-wow-delay="0.4s") Ăn những bữa nhỏ, ít carbohydrate
					li
						span.number
							span 4
						span.text.wow.bounceInRight(data-wow-delay="0.5s") Chất caffein trong cà phê có tác dụng làm tăng huyết áp
					li
						span.number
							span 5
						span.text.wow.bounceInRight(data-wow-delay="0.6s") Di chuyển chậm khi muốn thay đổi vị trí cơ thể
					li
						span.number
							span 6
						span.text.wow.bounceInRight(data-wow-delay="0.7s") Tắm nước ấm có pha thêm muối magiê
					li
						span.number
							span 7
						span.text.wow.bounceInRight(data-wow-delay="0.8s") Sử dụng viên uống Tây Thi
