.counting.grid
  table.tb-details
    tr
      td Giá trọn gói
      td
        p.price-wrap.text-right
          span.old-price 7.000.000 đ
          span.price 1.400.000 đ
  +button({type: 'submit'}).btn-secondary.full-width Thêm vào giỏ hàng