.current-product.list-view
  +link('product name', 'details.html').item-product(data-parent="")
    .tmb-img(data-child="thumb")
      +img-upload('image-33','pro-600x600-0.jpg')
    .info
      p.price
        span.new-price 700.000 đ
      p.title Tên sản phẩm