.group
	h3 Latest news
	.editor
		ul
			li: +link('Your chance to WIN a $50 Voucher each month #seeninqueenbee', 'blog-detail.html')
			li: +link('This is how we do stripes at Queen Bee', 'blog-detail.html')
			li: +link('Queen Bee becomes a Warmth Network Partner for the ABA', 'blog-detail.html')
			li: +link('A sneak peek at our 12th Birthday Collection curated for Queen Bee', 'blog-detail.html')
			li: +link('Safe and Natural Remedies for Soothing Common Pregnancy Symptoms', 'blog-detail.html')
.group
	h3 Latest news
	.editor
		ul
			li: +link('Discover Your Style', 'blog-detail.html')
			li: +link('Well Being', 'blog-detail.html')
			li: +link('Be Inspired', 'blog-detail.html')
			li: +link('Integrity & Charities', 'blog-detail.html')
			li: +link('QB News + Media', 'blog-detail.html')
			li: +link('Competitions & Promos', 'blog-detail.html')
.group
	h3 Archives
	.editor
		ul
			li: +link('2017', 'blog-category.html')
			li: +link('2016', 'blog-category.html')
			li: +link('2015', 'blog-category.html')
			li: +link('2014', 'blog-category.html')
			li: +link('2013', 'blog-category.html')
			li: +link('2012', 'blog-category.html')
			li: +link('2011', 'blog-category.html')
			li: +link('2010', 'blog-category.html')
			li: +link('2009', 'blog-category.html')
			li: +link('2008', 'blog-category.html')
.group
	.editor
		+img-upload('fblike.jpg')
.group
	.editor
		+img-upload('pin.jpg')
