+product-item('pro-1.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-5', 'sale', '', '', '')
+product-item('pro-2.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-2', '', 'stock', '', '')
+product-item('pro-3.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-3', '', 'stock', '', '')
+product-item('pro-4.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-4', '', '', 'new', '')
+product-item('pro-5.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-5', '', 'stock', '', '')
+product-item('pro-1.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-1', '', 'stock', '', '')
+product-item('pro-2.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-2', '', 'stock', 'new', 'bestSelling')
+product-item('pro-3.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-3', 'sale', '', '', '')
+product-item('pro-4.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-4', '', 'stock', '', 'bestSelling')
+product-item('pro-5.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-5', '', 'stock', 'new', '')
+product-item('pro-1.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-1', '', '', '', '')
+product-item('pro-2.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-2', '', 'stock', '', '')
+product-item('pro-3.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-3', 'sale', '', '', '')
+product-item('pro-4.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-4', '', 'stock', '', 'bestSelling')
+product-item('pro-5.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-5', '', 'stock', '', '')
+product-item('pro-1.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-1', '', 'stock', '', '')
+product-item('pro-2.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-4', 'sale', '', '', '')
+product-item('pro-3.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-5', '', 'stock', '', '')
+product-item('pro-4.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-3', '', 'stock', '', '')
+product-item('pro-5.jpg', 'img-hover.jpg', 'Trimester™ - Oasis Long Maternity Leggings', 'stars-5', '', 'stock', '', '')
