nav.navigation
	.container
		ul.menu(data-collapse='{"initUnder": 991}')
			li.has-child(data-active)
				+link('New', 'products-listing-all.html')
					| New
					i.icon-angle-down(data-handle="new")
				.menu-group
					.outer(data-content="new")
						.inner
							ul.sub-nav
								li: +link('Dresses', 'products-listing.html')
								li: +link('Tops', 'products-listing.html')
								li: +link('Jeans', 'products-listing.html')
								li: +link('Pants, Leggings + Shorts', 'products-listing.html')
								li: +link('Skirts', 'products-listing.html')
								li: +link('Lingerie, Hosiery + Shapewear', 'products-listing.html')
								li: +link('Sleepwear', 'products-listing.html')
								li: +link('Knitwear', 'products-listing.html')
								li: +link('Swimwear', 'products-listing.html')
								li: +link('Accessories + Belly Bands', 'products-listing.html')
								li: +link('Post Pregnancy', 'products-listing.html')
								li: +link('Gifts + Skincare', 'products-listing.html')
								li: +link('BEST SELLERS', 'products-listing.html')
			li.has-child(data-active)
				+link('Maternity', 'products-listing-all.html')
					| Maternity
					i.icon-angle-down(data-handle="Maternity")
				.menu-group
					.outer(data-content="Maternity")
						.inner
							ul.sub-nav
								li: +link('1 In The Oven', 'products-listing.html')
								li: +link('Ambra', 'products-listing.html')
								li: +link('Amoralia London', 'products-listing.html')
								li: +link('Amoralia London', 'products-listing.html')
								li: +link('Belabumbum Lingerie', 'products-listing.html')
								li: +link('Bella Buttercup', 'products-listing.html')
								li: +link('Bijou', 'products-listing.html')
								li: +link('Blanqi', 'products-listing.html')
								li: +link('Blossom & Pear', 'products-listing.html')
								li: +link('Bristols 6', 'products-listing.html')
								li: +link('Cake Lingerie', 'products-listing.html')
								li: +link('Crave Maternity UK', 'products-listing.html')
								li: +link('Deshabille', 'products-listing.html')
			li.has-child(data-active)
				+link('Nursing', 'products-listing-all.html')
					| Nursing
					i.icon-angle-down(data-handle="Nursing")
				.menu-group
					.outer(data-content="Nursing")
						.inner
							ul.sub-nav
								li: +link('1 In The Oven', 'products-listing.html')
								li: +link('Ambra', 'products-listing.html')
								li: +link('Amoralia London', 'products-listing.html')
								li: +link('Amoralia London', 'products-listing.html')
								li: +link('Belabumbum Lingerie', 'products-listing.html')
								li: +link('Bella Buttercup', 'products-listing.html')
								li: +link('Bijou', 'products-listing.html')
								li: +link('Blanqi', 'products-listing.html')
								li: +link('Blossom & Pear', 'products-listing.html')
								li: +link('Bristols 6', 'products-listing.html')
								li: +link('Cake Lingerie', 'products-listing.html')
								li: +link('Crave Maternity UK', 'products-listing.html')
								li: +link('Deshabille', 'products-listing.html')
			li.has-child(data-active)
				+link('Baby', 'products-listing-all.html')
					| Baby
					i.icon-angle-down(data-handle="Baby")
				.menu-group
					.outer(data-content="Baby")
						.inner
							ul.sub-nav
								li: +link('La Leche League', 'products-listing.html')
								li: +link('LAmade', 'products-listing.html')
								li: +link('Leota', 'products-listing.html')
								li: +link('Liebemutter', 'products-listing.html')
								li: +link('Mamagama', 'products-listing.html')
								li: +link('MAVI Maternity Jeans', 'products-listing.html')
								li: +link('MAVI Maternity Jeans', 'products-listing.html')
								li: +link('MAVI Maternity Jeans', 'products-listing.html')
								li: +link('MAVI Maternity Jeans', 'products-listing.html')
								li: +link('My Little', 'products-listing.html')
								li: +link('Native Wilds', 'products-listing.html')
								li: +link('Nearly Nude', 'products-listing.html')
			li.has-child.sub-full(data-active)
				+link('Designer', 'products-listing-all.html')
					| Designer
					i.icon-angle-down(data-handle="Designer")
				.menu-group
					.outer(data-content="Designer")
						.inner
							ul.sub-nav
								li: +link('1 In The Oven', 'products-listing.html')
								li: +link('Ambra', 'products-listing.html')
								li: +link('Amoralia London', 'products-listing.html')
								li: +link('Amoralia London', 'products-listing.html')
								li: +link('Belabumbum Lingerie', 'products-listing.html')
								li: +link('Bella Buttercup', 'products-listing.html')
								li: +link('Bijou', 'products-listing.html')
								li: +link('Blanqi', 'products-listing.html')
								li: +link('Blossom & Pear', 'products-listing.html')
								li: +link('Bristols 6', 'products-listing.html')
								li: +link('Cake Lingerie', 'products-listing.html')
								li: +link('Crave Maternity UK', 'products-listing.html')
								li: +link('Deshabille', 'products-listing.html')
							ul.sub-nav
								li: +link('Dogeared Jewels & Gifts', 'products-listing.html')
								li: +link('Dote Nursingwear', 'products-listing.html')
								li: +link('Esprit', 'products-listing.html')
								li: +link('Everly Grey', 'products-listing.html')
								li: +link('Every Mother Counts', 'products-listing.html')
								li: +link('Fertilemind', 'products-listing.html')
								li: +link('Fillyboo', 'products-listing.html')
								li: +link('Floressa®', 'products-listing.html')
								li: +link('GAIA Skin Naturals', 'products-listing.html')
								li: +link('HOTmilk Lingerie', 'products-listing.html')
								li: +link('Illuminate Candles', 'products-listing.html')
								li: +link('Ilybean', 'products-listing.html')
								li: +link('Imanimo', 'products-listing.html')
							ul.sub-nav
								li: +link('La Leche League', 'products-listing.html')
								li: +link('LAmade', 'products-listing.html')
								li: +link('Leota', 'products-listing.html')
								li: +link('Liebemutter', 'products-listing.html')
								li: +link('Mamagama', 'products-listing.html')
								li: +link('MAVI Maternity Jeans', 'products-listing.html')
								li: +link('MAVI Maternity Jeans', 'products-listing.html')
								li: +link('MAVI Maternity Jeans', 'products-listing.html')
								li: +link('MAVI Maternity Jeans', 'products-listing.html')
								li: +link('My Little', 'products-listing.html')
								li: +link('Native Wilds', 'products-listing.html')
								li: +link('Nearly Nude', 'products-listing.html')
							ul.sub-nav
								li: +link('Noppies', 'products-listing.html')
								li: +link('Noppies Baby', 'products-listing.html')
								li: +link('Paula Janz', 'products-listing.html')
								li: +link('Pomkin', 'products-listing.html')
								li: +link('Poup ke', 'products-listing.html')
								li: +link('Preggers', 'products-listing.html')
								li: +link('PregO Maternity Swimwear', 'products-listing.html')
								li: +link('Quack Nursing Wear', 'products-listing.html')
								li: +link('Queen Bee®', 'products-listing.html')
								li: +link('Queen Mum', 'products-listing.html')
								li: +link('Ripe Maternity', 'products-listing.html')
							ul.sub-nav
								li: +link('Speedo', 'products-listing.html')
								li: +link('Storksak', 'products-listing.html')
								li: +link('Soon Maternity', 'products-listing.html')
								li: +link('Supermom', 'products-listing.html')
								li: +link('Supermom', 'products-listing.html')
								li: +link('Tiffany Rose', 'products-listing.html')
								li: +link('Trimester®', 'products-listing.html')
								li: +link('Tiffany Rose', 'products-listing.html')
								li: +link('Tummy Tie', 'products-listing.html')
								li: +link('Twelve Litte', 'products-listing.html')
								li: +link('Vanessa Megan', 'products-listing.html')
								li: +link('Venosure', 'products-listing.html')
			li.has-child(data-active)
				+link('Occasion', 'products-listing-all.html')
					| Occasion
					i.icon-angle-down(data-handle="Occasion")
				.menu-group
					.outer(data-content="Occasion")
						.inner
							ul.sub-nav
								li: +link('Speedo', 'products-listing.html')
								li: +link('Storksak', 'products-listing.html')
								li: +link('Soon Maternity', 'products-listing.html')
								li: +link('Supermom', 'products-listing.html')
								li: +link('Supermom', 'products-listing.html')
								li: +link('Tiffany Rose', 'products-listing.html')
								li: +link('Trimester®', 'products-listing.html')
								li: +link('Tiffany Rose', 'products-listing.html')
								li: +link('Tummy Tie', 'products-listing.html')
								li: +link('Twelve Litte', 'products-listing.html')
								li: +link('Vanessa Megan', 'products-listing.html')
								li: +link('Venosure', 'products-listing.html')
			li.has-child(data-active)
				+link('Sale', 'products-listing-all.html')
					| Sale
					i.icon-angle-down(data-handle="Sale")
				.menu-group
					.outer(data-content="Sale")
						.inner
							ul.sub-nav
								li: +link('Speedo', 'products-listing.html')
								li: +link('Storksak', 'products-listing.html')
								li: +link('Soon Maternity', 'products-listing.html')
								li: +link('Supermom', 'products-listing.html')
								li: +link('Supermom', 'products-listing.html')
								li: +link('Tiffany Rose', 'products-listing.html')
								li: +link('Trimester®', 'products-listing.html')
								li: +link('Tiffany Rose', 'products-listing.html')
								li: +link('Tummy Tie', 'products-listing.html')
								li: +link('Twelve Litte', 'products-listing.html')
								li: +link('Vanessa Megan', 'products-listing.html')
								li: +link('Venosure', 'products-listing.html')
			li: +link('Gift Voucher', 'gift.html')
			li.mb-link.hidden-lg-up
				+link('Link')
					i.icon-account
					| MY ACCOUNT
			li.mb-link.hidden-lg-up
				+link('Link')
					i.icon-wishlist
					| Wishlist
			li.mb-link.hidden-lg-up.phone
				+link('1300 773 449', 'call:+1300773449')
